<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Informacion</h1>
</div>
<div class="modal-body">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Nombre:</strong>
    <%= @cliente.nombre %>
  </p>
  <p>
    <strong>Dirección:</strong>
    <%= @cliente.direccion %>
  </p>
  <p>
    <strong>Numero de identificación:</strong>
    <%= @cliente.numero_de_identificacion %>
  </p>
  <p>
    <strong>Teléfono:</strong>
    <%= @cliente.telefono %>
  </p>
  <p>
    <strong>Email:</strong>
    <a href="mailto:"><%= @cliente.email%></a>
  </p>
  <% if @cliente.paciente %>
  <legend>Datos Paciente:</legend>
  <p>
    <strong>N Historia Clinica:</strong>
    <%= @cliente.paciente.n_hclinica %>
  </p>
  <p>
    <strong>Tipo de Paciente:</strong>
    <%= @cliente.paciente.tipo_de_paciente %>
  </p>
  <p>
    <strong>Pertenece a:</strong>
    <%= @cliente.paciente.pertenece%>
  </p> 
  <p>
    <strong>Grado:</strong>
    <%= @cliente.paciente.grado%>
  </p>    
  <p>
    <strong>Brigada:</strong>
    <%= @cliente.paciente.brigada%>
  </p> 
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= link_to 'Editar', edit_cliente_path(cliente), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "editar_edit"}%>
</div>