<%= link_to 'Nuevo', new_cliente_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "nuevo_new"}  %>
<h1 class="text-center">LISTA DE CLIENTES</h1>

<div class="table-responsive">
  <table class="data-table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Numero de identificacion</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.numero_de_identificacion %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.email %></td>
        <td><%= link_to 'Mostrar', cliente, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "mostrar_view"} %>
          <%= link_to 'Editar', edit_cliente_path(cliente), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "editar_edit"}%>
          <%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: '¿Esta seguro de Eliminar?' } , class: "delete_destroy btn-sm"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
