<h1 class="text-center">LISTA DE CLIENTES</h1>

<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Numero de identificacion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.numero_de_identificacion %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.email %></td>
        <td><%= link_to 'Mostrar', cliente , class: "btn btn-primary btn-sm"%></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) , class: "btn btn-warning btn-sm"%></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: '¿Esta seguro de Eliminar?' } , class: "btn btn-danger btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</div>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path, class: "crear_nuevo" %>
