<div class="pedidos">
	<ul class="internados grid">
		<% @pedidos.each do |p|  %>
		<li class="pacientes-hospitalizados" id="<%= p.hospitalizacion_registro.id %>">
			<span class="internado-name">
				<%=p.hospitalizacion_registro.paciente.cliente.nombre%>
			</span>
			<span class="internado-hc">
				Consumo: $<%= p.total%>
			</span>
			<div class="pull-right">
				<span class="type-paciente">
					<%= link_to "Realizar Pedido", hospitalizacion_show_pedido_path(p), class: "label label-success" %>
				</span>
				<% if  p.hospitalizacion_registro.alta?%>
				<span class="ingresado-type">
					<%= link_to '', dar_alta_enfermeria_hospitalizacion_registro_path(p.hospitalizacion_registro), method: :post, class: "ttip fa fa-check-circle text-success clickable", :remote => true, :rel => "tooltip", :title => "Enviar a farmacia"%>
				</span>
				<% else %>
				<span class="ingresado-type">
					<span class="fa fa-circle text-info"></span>
				</span>
				<% end %>
			</div>
		</li>
		<% end %>
	</ul>
</div>
