<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h1 class="modal-title" id="myModalLabel">Reporte</h1>
</div>
<div class="modal-body">
	<p>
		<strong>Paciente:</strong>
		<%= @hospitalizacion.hospitalizacion_registro.paciente.cliente_nombre%>
	</p>
	<p>
		<strong>Fecha de Ingreso:</strong>
		<%=local_date(@hospitalizacion.hospitalizacion_registro.fecha_de_ingreso, "date")%>
		<strong>Fecha de Salida:</strong>
		<%=local_date(@hospitalizacion.hospitalizacion_registro.fecha_de_salida, "date")%>
	</p>
	<% if @hospitalizacion.hospitalizacion_registro.alta %>
	<p>
		<strong>Dias de hospitalizacion:</strong>
		<%=@hospitalizacion.hospitalizacion_registro.dias_hospitalizacion%>
	</p>
	<% end %>
	<table class="table table-hover">
		<thead class= "well">
			<tr>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Precio</th>
				<th>Iva</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |t| %>
			<tr>
				<td><%= t.ingreso_producto.producto.nombre%></td>
				<td><%= t.cantidad %></td>
				<td>$ <%= t.valor_unitario %></td>
				<td>$ <%= t.iva %></td>
				<td>$ <%= t.total %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-8">
			<p>
				<strong>
					Sub 12: <br>
					Sub 0: <br>
					IVA: <br>
					Total: <br>
				</strong>
			</p>
		</div>
		<div class="col-xs-2">
			<strong>
				$ <%= @hospitalizacion.subtotal_12 %><br>
				$ <%= @hospitalizacion.subtotal %><br>
				$ <%= @hospitalizacion.iva %><br>
				$ <%= @hospitalizacion.total %><br>
			</strong>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
	<% if @hospitalizacion.hospitalizacion_registro.alta_enfermeria %>
		<%= link_to ' Imprimir', {:format => :pdf} , {:class => "btn btn-success", :target => "_blank"} %>
	<% end %>
</div>
