<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= wicked_pdf_image_tag "/images/logo1.png", width: 45, height: 45 %>
        HOSPITAL BASICO 7 B.I LOJA</h4>
        <strong>INFORMACIÓN DEL PACIENTE</strong>
        <p>
          Tipo: <%= @hospitalizacion.hospitalizacion_registro.paciente.tipo%><br>
          Nombre: <%= @hospitalizacion.hospitalizacion_registro.paciente.cliente_nombre%><br>
          C.I: <%= @hospitalizacion.hospitalizacion_registro.paciente.cliente_numero_de_identificacion%><br>
          Dirección: <%= @hospitalizacion.hospitalizacion_registro.paciente.cliente_direccion%><br>
        </p>
      </div>
      <div class="col-xs-4 text-right">
        <h4><strong>REPORTE #<%= @hospitalizacion.numero%></strong></h4>
        <br>
        <% unless  @hospitalizacion.hospitalizacion_registro.paciente.tipo == "civil"%>
        <strong>INFORMACIÓN MILITAR</strong>
        <p>
          Cod. ISSFA: <%= @hospitalizacion.hospitalizacion_registro.paciente.codigo_issfa%><br>
          Estado: <%= @hospitalizacion.hospitalizacion_registro.paciente.estado%><br>
          Grado: <%= @hospitalizacion.hospitalizacion_registro.paciente.grado%><br>
        </p>
        <% end %>
      </div>
    </div>
    <strong>INFORMACIÓN DE HOSPITALIZACIÓN</strong>
    <p>
      Fecha de Ingreso: <%=local_date(@hospitalizacion.hospitalizacion_registro.fecha_de_ingreso, "date")%><br>
      Fecha de Salida: <%=local_date(@hospitalizacion.hospitalizacion_registro.fecha_de_salida, "date")%><br>
      Dias de hospitalización: <%=@hospitalizacion.hospitalizacion_registro.dias_hospitalizacion%>
    </p>
    <table class="table table-bordered">
      <thead class="well">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Iva</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr><th colspan="5">MEDICAMENTO</th></tr>
        <% @items[0].each do |item| %>
        <tr>
          <td><%= item.ingreso_producto.producto.nombre%></td>
          <td><%= item.cantidad %></td>
          <td><%= item.valor_unitario %></td>
          <td><%= item.iva %></td>
          <td class="text-right"><%= item.total %></td>
        </tr>
        <% end %>
        <tr><th colspan="5">INSUMOS</th></tr>
        <% @items[1].each do |item| %>
        <tr>
          <td><%= item.ingreso_producto.producto.nombre%></td>
          <td><%= item.cantidad %></td>
          <td><%= item.valor_unitario %></td>
          <td><%= item.iva %></td>
          <td class="text-right"><%= item.total %></td>
        </tr>
        <% end %>
        <tr><th colspan="5">QUIRURJICOS</th></tr>
        <% @items[2].each do |item| %>
        <tr>
          <td><%= item.ingreso_producto.producto.nombre%></td>
          <td><%= item.cantidad %></td>
          <td><%= item.valor_unitario %></td>
          <td><%= item.iva %></td>
          <td class="text-right"><%= item.total %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row text-right">
      <div class="col-xs-2 col-xs-offset-8">
        <p>
          <strong>
            Sub 12%: <br>
            Sub 0%: <br>
            IVA : <br>
            Total : <br>
          </strong>
        </p>
      </div>
      <div class="col-xs-2">
        <strong>
          $ <%= @hospitalizacion.subtotal_12 %><br>
          $ <%= @hospitalizacion.subtotal %><br>
          $ <%= @hospitalizacion.iva %><br>
          $ <%= @hospitalizacion.total %><br>
        </strong>
      </div>
    </div>
  </div>
