<!-- <div class="container"> -->
<div class="row">
  <div class="col-xs-12 col-md-7  estadisticas">
    <div class="welli well-sm">
      <div class="row">
        <div class="col-xs-12 col-md-5 text-center info-cierre-caja">
          <h3 class="total-num">$ <%= @totalfacturashoy %></h3>
            <h5>TOTAL DE HOY</h5>
            <h5 class="fecha_sin_hora"></h5>
             <%= link_to ' Cerrar Caja', dashboard_cierre_de_caja_dia_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "fa fa-archive btn btn-info"} %>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="row">
            <!-- Total Ventanilla-->
            <div class="col-xs-4 col-md-4 text-left">
              <span>Ventanilla</span>
            </div>
            <div class="col-xs-8 col-md-8">
              <div class="progress progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100" data-original-title="Remove this user" style="width: <%=@porcentajedia_ventanilla%>%">
                $ <%=@totaldia_ventanilla%>
              </div>
            </div>
          </div>
          <!-- Total hospitalizacion-->
          <div class="col-xs-4 col-md-4 text-left">
            <span>Hospitalización</span>
          </div>
          <div class="col-xs-8 col-md-8">
            <div class="progress progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100" style="width: <%=@porcentajedia_hospitalizacion%>%">
              $ <%=@totaldia_hospitalizacion%>
              </div>
            </div>
          </div>
        <!-- Total Consulta Externa-->
        <div class="col-xs-4 col-md-4 text-left">
          <span>Consulta</span>
        </div>
        <div class="col-xs-8 col-md-8">
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100" style="width:  <%=@porcentajedia_consultaexterna%>%">
            $ <%=@totaldia_consultaexterna%>
          </div>
        </div>
      </div>
    </div>
    <!-- numero total de facturas -->
    <div class="progress progress">
      <div class="progress-bar progress-bar-success" style="width:  <%=@porcentajedia_ventanilla%>%"><%=@porcentajedia_ventanilla%>%
      </div>
      <div class="progress-bar progress-bar-warning" style="width:  <%=@porcentajedia_hospitalizacion%>%"><%=@porcentajedia_hospitalizacion%>%
      </div>
      <div class="progress-bar progress-bar-info" style="width:  <%=@porcentajedia_consultaexterna%>%"><%=@porcentajedia_consultaexterna%>%
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- </div> -->
