<!-- <div class="container"> -->
<div class="row">
  <div class="col-xs-12 col-md-8  estadisticas">
    <div class="welli well-sm">
      <div class="row">
        <div class="col-xs-12 col-md-4 text-center">
          <h3 class="rating-num">$ <%=number_with_precision(@facturasmes.sum(:total), :precision => 2)%></h3>
          <div class="rating">
           <h5>TOTAL DE <span class="mes"></span></h5>
         </div>
         <div>
          <h5 class="fecha_sin_hora"></h5>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="row rating-desc">
          <!-- Total Ventanilla-->
          <div class="col-xs-3 col-md-3 text-left">
            <span>Ventanilla:</span>
          </div>
          <div class="col-xs-7 col-md-7">
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100" style="width: <%=@porcentajemes_ventanilla%>%">
              $ <%=number_with_precision(@facturasmesventanilla.sum(:total), :precision => 2)%>
              </div>
            </div>
          </div>
          <div class=" col-xs-2 col-md-2 text-left">
            #<span><%= @facturasmesventanilla.count%></span>
          </div>
        <!-- Total hospitalizacion-->
          <div class="col-xs-3 col-md-3 text-left">
            <span>Hospitalizacion:</span>
          </div>
          <div class="col-xs-7 col-md-7">
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100" style="width: <%=@porcentajemes_hospitalizacion%>%">
              $ <%=number_with_precision(@facturasmeshospitalizacion.sum(:total), :precision => 2)%>
              </div>
            </div>
          </div>
        <div class="col-xs-2 col-md-2 text-left">
          #<span><%= @facturasmeshospitalizacion.count%></span>
        </div>
        <!-- Total Consulta Externa-->
        <div class="col-xs-3 col-md-3 text-left">
          <span>Consulta:</span>
        </div>
        <div class="col-xs-7 col-md-7">
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100" style="width:  <%=@porcentajemes_consultaexterna%>%">
            $ <%=number_with_precision(@facturasmesconsultaexterna.sum(:total), :precision => 2)%>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-2 text-left">
          #<span><%= @facturasmesconsultaexterna.count%></span>
        </div>
        <!-- numero total de facturas -->
        <div class="col-xs-10 col-md-10">
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" style="width:  <%=@porcentajemes_ventanilla%>%"><%=@porcentajemes_ventanilla%>%
            </div>
            <div class="progress-bar progress-bar-warning" style="width:  <%=@porcentajemes_hospitalizacion%>%"><%=@porcentajemes_hospitalizacion%>%
            </div>
            <div class="progress-bar progress-bar-info" style="width:  <%=@porcentajemes_consultaexterna%>%"><%=@porcentajemes_consultaexterna%>%
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-2">
          #<span><%= @facturasmes.count%></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- </div> -->
