<% if  @search.empty?%>
  <h3>No se encontro ninguna factura</h3>
<% else %>
  <h3>Cierre de Caja de: <%= @tipo_factura%></h3>
  <!-- <%= @total%> -->
  <table class="table table-hover table-print">
    <thead>
      <tr>
        <th>Nº Total de Facturas</th>
        <th>Sub Total</th>
        <th>IVA</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @search.count%></td>
        <td><%= '%.2f' % @search.sum(:subtotal_12)%></td>
        <td><%= '%.2f' % @search.sum(:iva)%></td>
        <td><%= '%.2f' % @search.sum(:total)%></td>
    </tbody>
  </table>
<% end %>