<h1 class= "text-center"><span class="fa fa-bar-chart-o"></span> Estadísticas</h1>
<!-- <h2 class="text-center">Estadísticas</h2> -->

<ul class="nav nav-tabs">
  <li class="active"><a href="#diario" data-toggle="tab">Diario</a></li>
  <li><a href="#mensual" data-toggle="tab">Mensual</a></li>
  <li><a href="#reporte" data-toggle="tab">Reporte</a></li>
  <li><a href="#cierre" data-toggle="tab">Cierre de Caja</a></li>
  <li><a href="#caducados" data-toggle="tab">Productos por caducadar</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="diario">
    <%= render 'diario'%>
  </div>
  <div class="tab-pane" id="mensual">
    <%= render 'mensual'%>
  </div>

  <div class="tab-pane" id="reporte">
    <%= render 'reporte'%>
  </div>
  <div class="tab-pane" id="cierre">
    <%= render 'cierre_de_caja'%>
  </div>
    <div class="tab-pane" id="caducados">
    <%= render 'caducados'%>
  </div>
</div>

