<h2 class="text-center">LIQUIDACIÓN</h2>
<h4 class="text-center"> <%= month_name(@fecha) %></h4>
<% unless request.format.to_sym == :pdf %>
<p>
  Descargar:
  <%= link_to "PDF", dashboard_liquidaciones_path(params.merge(format: 'pdf')) %>
</p>
<% end %>
<div class="row  page-break">
	<h5 class= "fix-margin"><strong>Fecha de Impresión:  </strong><span class="fecha_sin_hora"></span></h5>
	<div class="col-md-3 col-xs-6">
		<h4>Resumen General Ventas</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal 12:</td>
					<td><%= redondear(@liquidacion.subtotal12_venta) %></td>
				</tr>
				<tr>
					<td>Subtotal 0:</td>
					<td><%= redondear(@liquidacion.subtotal_venta) %></td>
				</tr>
				<tr>
					<td><strong>Total Ventas:</strong></td>
					<td><strong><%= redondear(@liquidacion.total_sin_iva_venta) %></strong></td>
				</tr>
				<tr>
					<td>IVA:</td>
					<td><%= redondear(@liquidacion.iva_venta) %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><strong><%= redondear(@liquidacion.total_venta) %></strong></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3 col-xs-6">
		<h4>Ventas en efectivo</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal 12:</td>
					<td><%= redondear(@liquidacion.subtotal12_ventanilla) %></td>
				</tr>
				<tr>
					<td>Subtotal 0:</td>
					<td><%= redondear(@liquidacion.subtotal_ventanilla) %></td>
				</tr>
				<tr>
					<td><strong>Total Ventas:</strong></td>
					<td><strong><%= redondear(@liquidacion.total_sin_iva_ventanilla) %></strong></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= redondear(@liquidacion.iva_ventanilla) %></td>
				</tr>
				<tr>
					<td><strong>Total</strong></td>
					<td><strong><%= redondear(@liquidacion.total_ventanilla) %></strong></td>
				</tr>
			</tbody>
		</table>
		<small><strong>Emitidas: <%= @liquidacion.emitidos_ventanilla%> Anuladas: <strong><%= @liquidacion.anulados_ventanilla%></strong></small><br/>
	</div>
	<div class="col-md-3 col-xs-6">
		<h4>Ventas por hospitalización</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal 12:</td>
					<td><%= redondear(@liquidacion.subtotal12_hospitalizacion)%></td>
				</tr>	
				<tr>
					<td>Subtotal 0:</td>
					<td><%= redondear(@liquidacion.subtotal_hospitalizacion)%></td>
				</tr>
				<tr>
					<td><strong>Total Ventas:</strong></td>
					<td><strong><%= redondear(@liquidacion.total_sin_iva_hospitalizacion) %></strong></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= redondear(@liquidacion.iva_hospitalizacion) %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><strong><%= redondear(@liquidacion.total_hospitalizacion)%></strong></td>
				</tr>
			</tbody>
		</table>
		<small>Reportes Emitidos: <strong><%=@liquidacion.emitidos_hospitalizacion%></strong></small>
	</div>
	<div class="col-md-3 col-xs-6">
		<h4>Transferencias</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal 12:</td>
					<td><%= redondear(@liquidacion.subtotal12_traspaso) %></td>
				</tr>
				<tr>
					<td>Subtotal 0:</td>
					<td><%= redondear(@liquidacion.subtotal_traspaso) %></td>
				</tr>
				<tr>
					<td><strong>Total Ventas:</strong></td>
					<td><strong><%= redondear(@liquidacion.total_sin_iva_traspaso) %></strong></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= redondear(@liquidacion.iva_traspaso) %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><strong><%= redondear(@liquidacion.total_traspaso) %></strong></td>
				</tr>
			</tbody>
		</table>
		<small>Número de Transferencias: <strong><%= @liquidacion.emitidos_traspaso%></strong></small>
	</div>
</div>
<div class="row page-break">
	<div class="col-md-4">
		<h4>Compras del Mes</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal 12:</td>
					<td><%= @liquidacion.subtotal12_compra%></td>
				</tr>
				<tr>
					<td>Subtotal 0:</td>
					<td><%= @liquidacion.subtotal_compra%></td>
				</tr>
				<tr>
					<td><strong>Total Compra:</strong></td>
					<td><%= @liquidacion.total_sin_iva_compra %></td>
				</tr>
				<tr>
					<td>IVA:</td>
					<td><%= redondear(@liquidacion.iva_compra) %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><%= redondear(@liquidacion.total_compra) %></td>
				</tr>
			</tbody>
		</table>
		<small>Facturas Ingresadas: <strong><%= @liquidacion.emitidos_compra%></strong></small><br/>
	</div>
	<div class="col-md-4">
		<h4>Inventarios</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Saldo anterio:</td>
					<td>0.0</td>
				</tr>
				<tr>
					<td>(+) Compras</td>
					<td><%= redondear(@liquidacion.total_sin_iva_compra) %></td>
				</tr>
				<tr>
					<td>(-) Costo de Venta</td>
					<td><%= redondear(@liquidacion.costo_venta) %></td>
				</tr>
				<tr>
					<td><strong>Saldo Final</strong></td>
					<td><%= redondear(@liquidacion.total_sin_iva_compra - @liquidacion.costo_venta) %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<h4>Utilidad</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Total Ventas:</td>
					<td><%= redondear(@liquidacion.total_sin_iva_venta) %></td>
				</tr>
				<tr>
					<td>(-) Costo Venta</td>
					<td><%= redondear(@liquidacion.costo_venta) %></td>
				</tr>
				<tr>
					<td>TOTAL</td>
					<td><%= redondear(@liquidacion.total_sin_iva_venta - @liquidacion.costo_venta)%></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
