<h2 class="text-center">LIQUIDACION DEL MES: </h2>
<div class="row">
	<h5>Fecha de Impresion:  <span class="fecha_sin_hora"></span></h5>
	<div class="col-md-3">
		<h4>Ventas en ventanilla</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal:</td>
					<td><%='%.2f' % @ventanilla_subtotal%></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= @ventanilla_iva %></td>
				</tr>
				<tr>
					<td><strong>Total</strong></td>
					<td><strong><%= @total_ventanilla %></strong></td>
				</tr>
			</tbody>
		</table>
		<small>Numero de Facturas Emitidas: <strong><%= @cantidad_ventanilla%></strong></small><br/>
		<small>Numero de Facturas Anuladas: <strong><%= @anuladas_ventanilla%></strong></small>
	</div>

	<div class="col-md-3">
		<h4>Ventas en hospitalizacion</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal:</td>
					<td><%='%.2f' % @hospitalizacion_subtotal%></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= @hospitalizacion_iva %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><strong><%= @total_hospitalizacion %></strong></td>
				</tr>
			</tbody>
		</table>
		<small>Numero de Facturas Emitidas: <strong><%= @cantidad_hospitalizacion%></strong></small><br/>
		<small>Numero de Facturas Anuladas: <strong><%= @anuladas_hospitalizacion%></strong></small>
	</div>
</div>
