<h2 class="text-center">LIQUIDACION</h2>
<h4 class="text-center"> <%= month_name(@fecha) %></h4>
<div class="row">
	<h5 class= "fix-margin"><strong>Fecha de Impresion:  </strong><span class="fecha_sin_hora"></span></h5>
	<div class="col-md-4">
		<h4>Ventas en ventanilla</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal:</td>
					<td><%= redondear(@ventanilla_subtotal) %></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= redondear(@ventanilla_iva) %></td>
				</tr>
				<tr>
					<td><strong>Total</strong></td>
					<td><strong><%= redondear(@total_ventanilla) %></strong></td>
				</tr>
			</tbody>
		</table>
		<small>Numero de Facturas Emitidas: <strong><%= @cantidad_ventanilla%></strong></small><br/>
		<small>Numero de Facturas Anuladas: <strong><%= @anuladas_ventanilla%></strong></small>
	</div>

	<div class="col-md-4">
		<h4>Ventas en hospitalizacion</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal:</td>
					<td><%= redondear(@hospitalizacion_subtotal)%></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= redondear(@hospitalizacion_iva) %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><strong><%= redondear(@total_hospitalizacion)%></strong></td>
				</tr>
			</tbody>
		</table>
		<small>Numero de Facturas Emitidas: <strong><%= @cantidad_hospitalizacion%></strong></small><br/>
		<small>Numero de Facturas Anuladas: <strong><%= @anuladas_hospitalizacion%></strong></small>
	</div>

	<div class="col-md-4">
		<h4>Transferencias</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Impuestos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Subtotal:</td>
					<td><%= redondear(@hospitalizacion_subtotal) %></td>
				</tr>
				<tr>
					<td>Iva:</td>
					<td><%= redondear(@transferencias_iva) %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><strong><%= redondear(@total_transferencias) %></strong></td>
				</tr>
			</tbody>
		</table>
		<small>Numero de Transferencias: <strong><%= @numero_transferencias%></strong></small>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h4>Resumen General Ventas</h4>	
		<table class="table">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ventanilla:</td>
					<td><%= redondear(@total_ventanilla) %></td>
				</tr>
				<tr>
					<td>Hospitalizacion:</td>
					<td><%= redondear(@total_hospitalizacion) %></td>
				</tr>
				<tr>
					<td>Transferencias:</td>
					<td><%= redondear(@total_transferencias) %></td>
				</tr>
				<tr>
					<td><strong>Total Ventas:</strong></td>
					<td><%= redondear(@total_ventas) %></td>
				</tr>
				<tr>
					<td><strong>Total Iva:</strong></td>
					<td><%= redondear(@iva_liquidacion) %></td>
				</tr>
				<tr>
					<td><strong>Total:</strong></td>
					<td><%= redondear(@total_liquidacion) %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
