<h3><%=@paciente.cliente_nombre%></h3>
<strong>Historia Clinica: </strong><%= @paciente.n_hclinica%><br>
<strong>Diagnostico: </strong><%=@emergencia.diagnostico  %><br>
<strong>Atencion: </strong><%=@emergencia.atencion  %><br>
<strong>Causa: </strong><%=@emergencia.causa  %><br>
<strong>Destino: </strong><%=@emergencia.destino  %>
