<div class="row">
	<div class="col-md-3 input-cuarto">
		<%= form_for @cuarto, :html => {:class => "form-cuarto"}, :remote => true  do |f| %>
		<%= f.label :nombre, "Nombre de habitacion"  %>
		<div class="input-group">
			<%= f.text_field :nombre, class: "form-control", placeholder: "Ejm: PEDIATRIA"  %>
			<span class="input-group-btn">
				<%= f.submit '+', class: "btn btn-info", :remote => true %>
			</span>
		</div>
		<% end %>
	</div>
</div>
<div class="ingresados">
	<ul class="internados grid cuartos main">
		<% @cuartos.each do |cuarto|  %>
		<%= render "cuarto", cuarto:cuarto %>
		<% end %>
	</ul> 
</div>
