<li class="admin-cuartos">
	<legend class="text-center"><%= cuarto.nombre %></legend>
	<%= form_for @cama, :html => {:class => "form-cuarto"}, :remote => true  do |f| %>
	<div class="input-group">
		<%= f.hidden_field :cuarto_id, value: cuarto.id %>
		<%= f.text_field :numero, class: "form-control", placeholder: "Ingrese numero cama"  %>
		<span class="input-group-btn">
			<%= f.submit '+', class: "btn btn-info", :remote => true %>
		</span>
	</div>
	<% end %>
	<legend></legend>
	<ul class="list-inline camas" id ='<%= cuarto.id  %>'>
		<% cuarto.camas.each do |cama|  %>
		<%= render "camas/cama", cama:cama %>
		<% end %>
	</ul>
</li>

