<%= nested_form_for @transferencia do |f| %>
<%= form_errors_for @transferencia %>
<div class="col-md-7">
	<h6 class="text-muted text-right fecha"></h6>
	<%= f.text_field :servicio, class: "form-control", :placeholder => "Servicio"%>
	<div class="table-responsive">
		<table class="table" id="factura">
			<thead>
				<tr>
					<th class="col-sm-4">Producto</th>
					<th>Cantidad</th>
					<th>V.Unit</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<%= f.fields_for :item_transferencias, :wrapper => false do |item_transferencias| %>
					<%=  item_transferencias.number_field  :cantidad, class: "form-control cantidad", :placeholder => "0", min: "1", value: 1 %>
					<% end %>
				</tr>
				<tr>
					<td><%= f.link_to_add "Producto", :item_transferencias, :class => "nuevo_new"%>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- datos de impuestos -->
<div class="col-md-2 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">IMPUESTOS %</h3>
		</div>
		<div class="panel-body">
			<table>
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td>
							<h6>I.V.A:</h6>
							<h4>TOTAL:</h4>
						</td>
						<td>
							<%= f.text_field :iva, class: "input-noborder iva_factura text-right", :readonly => true%>
							<%= f.text_field :total, class: "input-noborder total_factura text-right", :readonly => true%>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<%= f.submit :Guardar, class: "guardar_submit btn-block", data: {disable_with: "Almacenando"}%>
		</div>
	</div>
</div>
<% end %>
