<div class="col-md-8 col-md-offset-2">
  <div class="table-responsive horario">
  <%= f.label :numero_terapias %>
  <%= f.text_field :numero_terapias, placeholder: "Ejm: 10" %>
  <%=f.fields_for :resultado_tratamientos, :wrapper => false do |t|%>
    <%= t.label :fecha, "Fecha de Inicio de Tratamiento" %>
    <%= t.text_field :fecha, class: "datepicker-not-weekend", placeholder: "Ejm: 2012-12-02" %>
    <%= t.label :horario_id, "Horario del paciente" %>
    <%= t.select :horario_id, Horario.where(:anulado => false).map { |h| [h.hora, h.id ] }, {}, class: "form-control"%>
  <% end %>
  </div>
</div>


