<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Información</h1>
</div>
<div class="modal-body">
	 <p>
    <strong>Dependencia:</strong>
    <%= @traspaso.servicio%>
  </p>
  <p>
    <strong>Fecha de Emisión:</strong>
    <%= @traspaso.fecha_emision %>
  </p>
  <table class="table table-hover">
	  <thead class= "well">
	    <tr>
	      <th>Producto</th>
	      <th>Cantidad</th>
	      <th>Precio</th>
	      <th>Iva</th>
	      <th>Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @traspaso.item_traspasos.each do |t| %>
	      <tr>
	        <td><%= t.ingreso_producto.producto.nombre%></td>
	        <td><%= t.cantidad %></td>
	        <td>$ <%= t.valor_unitario %></td>
	        <td>$ <%= t.iva %></td>
	        <td>$ <%= t.total %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-8">
      <p>
        <strong>
          Sub 12: <br>
          Sub 0: <br>
          IVA: <br>
          Total: <br>
        </strong>
      </p>
    </div>
    <div class="col-xs-2">
      <strong>
        $ <%= @traspaso.subtotal_12 %><br>
        $ <%= @traspaso.subtotal %><br>
        $ <%= @traspaso.iva %><br>
        $ <%= @traspaso.total %><br>
      </strong>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
