<%= nested_form_for @traspaso do |f| %>
<%= form_errors_for @traspaso %>
<div class="col-md-7">
	<legend>Tansferencia Interna de Productos</legend>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<%= f.select :servicio, options_for_select(["Medicina Interna","Cardiología","Ginecología","Gastroenterología","Dermatología","Cardiología","Rayos X","Farmacia","Central de Enfermería","Estadística","Financiero","Traumatología","Odontología","Laboratorio Clínico","Fisiatría","Pediatría"]), {}, { class: "select-servicio"}%>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<%= f.fields_for :item_traspasos do |b| %>
					<%= render 'item_traspasos/item_traspaso', f: b %>
					<% end -%>
					<%= f.link_to_add "Producto", :item_traspasos, :class => "btn btn-default btn-sm btn-block"%>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-md-9">
							<%= f.hidden_field :total, class: "total_traspaso" %>
							<%= f.hidden_field :iva, class: "iva_traspaso" %>
							<h4 class="text-right">Total <strong class= "total">$00.00</strong></h4>
						</div>
						<div class="col-md-3">
							<%= f.submit :Guardar, class: " btn btn-block guardar_submit", data: {disable_with: "Almacenando"}%>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<div>
<%= link_to "Todas las transferencias", traspasos_path, class: "atras_back" %>
</div>
