<div class="row col-md-8 shadow col-md-offset-2">
	<div class="col-md-12">
		<div class="title-red-head">
			<span>
				<i><%= link_to "", traspasos_path, title:'Ver Transferencias', class: "ttip fa fa-list" %></i>
			</span>
			<h3>Transferencia Interna</h3>
			<span class="rev-combo pull-right fecha_sin_hora"></span>
		</div>
	</div>
	<div class="comprobante">
		<%= nested_form_for @traspaso, :remote => true do |f| %>
		<%= form_errors_for @traspaso %>
		<div class="row-fix-div col-md-12">
			<div class="col-md-3 col-xs-3 icon-transferencia-center">
				<i class="fa fa-exchange fa-4x"></i><br>
				<small>transferencia</small>
			</div>
			<div class="col-md-8 col-xs-8">
				<%= f.text_field :entregado_a, :class => "form-control selecttag",:placeholder => "Entregado a:" %>
				<%= f.select :servicio, options_for_select(["Medicina Interna","Cardiología","Ginecología","Gastroenterología","Dermatología","Rayos X","Farmacia","Central de Enfermería","Estadística","Financiero","Traumatología","Odontología","Laboratorio Clínico","Fisiatría","Pediatría"]), {}, { class: "select-servicio form-control"}%>
				<h6 class="text-muted">Emitido por: <%= current_user.username%></h6>
			</div>
		</div>
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table">
					<thead class = "text-center">
						<th class="col-md-5">Producto</th>
						<th>V.Unit</th>
						<th>Iva</th>
						<th>Cantidad</th>
						<th>Total</th>		
						<th></th>		
					</thead>
					<tbody>
						<%= f.fields_for :item_traspasos, :wrapper => false do |b| %>
						<tr class="fields productos_traspaso">
							<%= render 'item_traspasos/item_traspaso', f: b %>
							<% end %>
						</tr>
						<tr>
							<td>
								<%= f.link_to_add "Producto", :item_traspasos, :class => "nuevo_new_default"%>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-md-9">
					<h4 class="text-right">Total <strong class= "total">$00.00</strong></h4>
				</div>
				<div class="col-md-3">
					<%= f.submit :Guardar, class: " btn btn-block btn-info", data: {disable_with: "Almacenando"}%>			
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
