<div class="row info-paciente">
	<legend><i class="fa fa-stethoscope"></i> Registros Medicos</legend>
	<ul class="cbp_tmtimeline">
		<% @paciente.registros.each do |r|  %>
		<li>
			<time class="cbp_tmtime"><span><%= local_date(r.fecha_de_ingreso, "time")%></span> <span><%= local_date(r.fecha_de_ingreso, "date") %></span></time>
			<div class="cbp_tmicon fa-calendar"></div>
			<div class="cbp_tmlabel">
				<small>DIAGNOSTICO FINAL</small>
				<h3><%= r.diagnostico_salida %></h3>
				<p>Diagnosticos: <%= r.diagnostico_ingreso %>, <%= r.diagnostico_sec_egreso1%>,<%= r.diagnostico_sec_egreso2 %></p>
				<p>MEDICO: <%= r.medico_asignado %></p>
				<p>Discapacidad: <%= r.discapacidad %></p>
			</div>
		</li>
		<% end %>
	</ul>
</div>
