<h1>Civil</h1>
<div class="form-militar field">
	<div class="col-md-8">
		<%= nested_form_for @paciente, :remote => true do |f| %>
		<%= form_errors_for @paciente %>
		<%= render "pacientes/forms/datos_cliente", f:f  %>
		<legend>Datos Adicionales</legend>
		<%= render "pacientes/forms/informacion_adicional", f:f  %>
		<%= f.submit :guardar, class: "btn btn-success" %>
		<% end %>
	</div>
</div>