<div class="paciente">
		<div class="fix-margin history-registros">
	<h4 class="text-center">HOSPITAL BASICO 7 BI LOJA</h4>
	</div>
	<div class="fix-margin history-registros">
	<h4>HISTORIA CLINICA # <%= @paciente.n_hclinica%></h4>
	</div>
	<h4 class="fix-margin"><strong><%= @paciente.cliente.nombre %> / <%=@paciente.tipo%> / <%= @paciente.grado %></strong></h4>
	<h5 class="text-rigth fix-margin">Fecha de admision: <%= local_date(@paciente.created_at, "datetime")%></h5>
	<h5 class="text-rigth fix-margin">Registrado por: <%= @paciente.registrado_por%></h5>
	<div class="row-fix-div">
		<div class="col-xs-4">
			<strong>DATOS PERSONALES</strong><br>
			<small><strong>C.I: </strong><%= (@paciente.cliente.numero_de_identificacion).upcase%></small><br>
			<small><strong>GENERO: </strong><%= (@paciente.cliente.sexo).upcase%></small><br>
			<small><strong>EDAD:</strong>
				<%= exact_age(@paciente.cliente.fecha_de_nacimiento) %>
			</small><br>
			<small><strong>FECHA DE NACIMIENTO: </strong><%= @paciente.cliente.fecha_de_nacimiento %></small><br>
			<small><strong>ESTADO CIVIL: </strong><%= (@paciente.cliente.estado_civil).upcase %></small><br>
			<small><strong>DISCAPACIDAD: </strong><%= (@paciente.discapacidad).upcase %></small><br>
		</div>
						<div class="col-xs-4">
			<strong>MEDICO</strong><br>
				<small><strong>MED Y ESP: </strong><%= (@paciente.informacion_adicional_paciente.observacion).upcase %></small><br/>
			</div>
		<div class="col-xs-4">
			<strong>LOCALIZACION</strong><br>
			<small><strong>PROVINCIA: </strong><%= (@paciente.informacion_adicional_paciente.provincia).upcase%></small><br>
			<small><strong>CANTON: </strong><%= (@paciente.informacion_adicional_paciente.canton).upcase%></small><br>
			<small><strong>PARROQUIA: </strong><%= (@paciente.informacion_adicional_paciente.parroquia).upcase%></small><br>
			<small><strong>DIRECCION: </strong><%= (@paciente.cliente.direccion).upcase%></small><br>
			<small><strong>TELEFONO: </strong><%=@paciente.cliente.telefono%></small><br>
		</div>
		<div class="col-xs-4">
			<strong>CONTACTO/RELACION</strong><br>
			<small><strong><%= (@paciente.informacion_adicional_paciente.familiar_cercano).upcase%> /
				<small class="text-muted"><%= (@paciente.informacion_adicional_paciente.familiar_parentesco).upcase%></small></strong></small><br>
				<small><strong>DIRECCION: </strong><%= (@paciente.informacion_adicional_paciente.familiar_direccion).upcase%></small><br/>
				<small><strong>TELEFONO: </strong><%= @paciente.informacion_adicional_paciente.familiar_telefono%></small><br/>
			</div>
		</div>
	</div>
	<div class="row-fix-div">
				<% if @paciente.tipo == "militar" %>
		<div class="col-xs-4">
			<strong>INFORMACION MILITAR</strong><br>
				<small><strong>CODIGO ISSFA: </strong><%= @paciente.codigo_issfa %></small><br>
				<small><strong>ESTADO: </strong><%= (@paciente.estado).upcase %></small><br/>
				<small><strong>PERTENECE A: </strong><%= (@paciente.pertenece_a).upcase %></small><br/>
				<small><strong>UNIDAD: </strong><%= (@paciente.unidad).upcase %></small><br/>
				<small><strong>COMANDANTE: </strong><%= (@paciente.jefe_de_reparto).upcase %></small><br/>
			</div>
		</div>
		<% end %>
		<% if @paciente.tipo == "familiar" %>
		<div class="col-xs-4">
			<strong>INFORMACION MILITAR</strong><br>
				<small><strong>CODIGO ISSFA: </strong><%= (@paciente.codigo_issfa).upcase %></small><br>
				<small><strong>PARENTESCO: </strong><%= (@paciente.parentesco).upcase%></small><br/>
				<small><strong>ESTADO: </strong><%= (@paciente.estado).upcase %></small><br/>
			</div>
		</div>
		<% end %>
	</div>
	</div>
	<div class="fix-margin">
		<div class="history-registros">
			ANTECEDENTES
		</div>
		<div class="row">
			<div class="col-xs-6">
				<small><strong>PERSONALES</strong></small><br>
				<%=@paciente.antecedentes_personales%>
			</div>
			<div class="col-xs-6">
				<small><strong>FAMILIARES</strong></small><br>
				<%=@paciente.antecedentes_familiares%>
			</div>
		</div>
	</div>
	<div class=" fix-margin">
		<div class="history-registros">
			REGISTROS MEDICOS
		</div>
		<% @paciente.condicions.each do |r|  %>
		<div class="condiciones">
			<small><strong>Fecha:</strong> <%= local_date(r.created_at, "date")%></small><br>
			<small class="text-info"><%= (r.diagnostico_1).upcase %></small><br>
			<small><strong>Atendido Dr(a): </strong><%= r.medico_asignado %> </small><br>
			<small><strong>Motivo: </strong><%= r.motivo_de_consulta %> </small><br>
		</div>
		<% end %>
	</div>
</div>
