<div class="row title-history">
	<h1 class="fix-margin">Historia Clinica # <%= @paciente.n_hclinica%></h1>
</div>
<div class="row info-paciente">
	<div class="container">
		<div class="col-md-5 row-fix-div">
			<div class="col-md-4 text-center">
				<span class ="genero-icon fa fa-male fa-5x"></span><br>
				<small>paciente</small>
			</div>
			<div class="col-md-8">
				<h4><strong><%= @paciente.cliente.nombre %></strong></h4>
				<small class="genero"><strong>GENERO:</strong><%= (@paciente.cliente.sexo).upcase%></small><br>
				<small><strong>EDAD:</strong>
					<%= age(@paciente.cliente.fecha_de_nacimiento) %> <small class="text-muted"><%= @paciente.cliente.fecha_de_nacimiento %></small>
				</small><br>
				<small><strong>NACIONALIDAD:</strong>ECUATORIANO</small>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<small class="text-muted">LOCALIZACION</small><br>
			<i class="fa fa-map-marker"></i> <%= @paciente.cliente.direccion%><br/>
			<i class="fa fa-phone"></i> <%= @paciente.cliente.telefono%><br/>
			<i class="fa fa-envelope malito"></i> <%= @paciente.cliente.email%><br/>
		</div>
		<div class="col-md-3 col-xs-6">
			<small class="text-muted">CONTACTO/RELACION</small><br>
			<span><strong><%= @paciente.informacion_adicional_paciente.familiar_cercano%> /
				<small class="text-muted"><%= @paciente.informacion_adicional_paciente.familiar_parentesco%></small></strong></span><br>
			<i class="fa fa-map-marker"></i> <%= @paciente.informacion_adicional_paciente.familiar_direccion%><br/>
			<i class="fa fa-phone"></i> <%= @paciente.informacion_adicional_paciente.familiar_telefono%><br/>
		</div>
	</div>
</div>
<%= render 'historia_registros' %>

