<div class="row">
  <div class="title-blue-head">
    <span>
      <i><%= link_to "", paciente_path(@paciente), title:'Volver', class: "ttip fa fa-arrow-left" %></i>
    </span>
    <span class="rev-combo pull-right"><i class=" fa fa-user"></i></span>
    </span>
    <h3 class="text-month"><strong>TERAPIAS REALIZADAS</strong></h3>
  </div>
</div>
<div class="row info-paciente">
  <h2 class="text-right"><%= @paciente.cliente_nombre %> </h2>
  <% @terapias.each do |consulta| %>
  <div class="col-md-12 registro_terapia">
    <div class="col-md-6">
      <h4 class="text-info"><i class="fa fa-dot-circle-o"></i> Información de ingreso</h4>
      <h5>Doctor remitente: <%= consulta.doctor_remitente %> </h5>
      <h5>Diagnostico</h5>
      <p class="text-muted"><%= consulta.diagnostico %></p>
    </div>
    <div class="col-md-6">
      <h4 class="text-info"><i class="fa fa-dot-circle-o"></i> Tratamientos realizados</h4>
      <% consulta.tratamiento_registros.each do |tratamiento| %>
      <h5><%= tratamiento.item_tratamiento.codigo %> / <%= tratamiento.item_tratamiento.nombre %></h5>
      <% end %>
    </div>
    <div class="col-md-12">
      <h4><i class="fa fa-check-circle text-success"></i> Resultados</h4>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <% consulta.resultado_tratamientos.each do |resultado| %>
        <tr>
          <td><%= local_date(resultado.fecha, "date") %></td>
          <% if resultado.resultado.nil?%>
            <td class="text-warning"> <i class="fa fa-exclamation-circle"></i> No hay registro</td>
          <% else%>
            <td><%= resultado.resultado %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <br>
  <% end %>
</div>

