<% if  @ventanilla_cantidad == 0  and @hospitalizacion_cantidad == 0 %>
  <h3>No has facturado nada Aun!..</h3>
<% else %>
<table class="table table-hover table-print">
    <thead>
      <tr>
        <th></th>
        <th>VENTANILLA</th>
        <th>HOSPITALIZACIÓN</th>
        <th>TRANSFERENCIA</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Emitidos:</td>
        <td><%= @ventanilla_cantidad %></td>
        <td><%= @hospitalizacion_cantidad %></td>
        <td><%= @transferencia_cantidad %></td>
        <td><%= @comprobantes_cantidad %></td>
      </tr>
      <tr>
        <td>Subtotal:</td>
        <td><%= redondear(@ventanilla_subtotal) %></td>
        <td><%= redondear(@hospitalizacion_subtotal) %></td>
        <td><%= redondear(@transferencia_subtotal) %></td>
        <td><%= redondear(@comprobantes_subtotal) %></td>
      </tr>
      <tr>
        <td>Iva:</td>
        <td><%= redondear(@ventanilla_iva) %></td>
        <td><%= redondear(@hospitalizacion_iva) %></td>
        <td><%= redondear(@transferencia_iva) %></td>
        <td><%= redondear(@comprobantes_iva) %></td>
      </tr>
      <tr>
        <td>Total:</td>
        <td><%= redondear(@ventanilla_total) %></td>
        <td><%= redondear(@hospitalizacion_total) %></td>
        <td><%= redondear(@transferencia_total) %></td>
        <td><strong><%= redondear(@comprobantes_total) %></strong></td>
      </tr>
    </tbody>
</table>
<% end %>
