<% if  @ventanilla_cantidad == 0  and @hospitalizacion_cantidad == 0 %>
  <h3>No has facturado nada Aun!..</h3>
<% else %>
<table class="table table-hover table-print">
    <thead>
      <tr>
        <th></th>
        <th>VENTANILLA</th>
        <th>HOSPITALIZACIÓN</th>
        <th>TRANSFERENCIA</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Emitidos:</td>
        <td><%= @liquidacion.emitidos_ventanilla%></td>
        <td><%= @liquidacion.emitidos_hospitalizacion %></td>
        <td><%= @liquidacion.emitidos_traspaso %></td>
        <td><%= @liquidacion.emitidos_ventanilla + @liquidacion.emitidos_hospitalizacion + @liquidacion.emitidos_traspaso
        %></td>
      </tr>
      <tr>
        <td>Sub 12%:</td>
        <td><%= redondear(@liquidacion.subtotal12_ventanilla) %></td>
        <td><%= redondear(@liquidacion.subtotal12_hospitalizacion) %></td>
        <td><%= redondear(@liquidacion.subtotal12_traspaso) %></td>
        <td><%= redondear(@liquidacion.subtotal12_venta) %></td>
      </tr>
      <tr>
        <td>Sub 0%:</td>
        <td><%= redondear(@liquidacion.subtotal_ventanilla) %></td>
        <td><%= redondear(@liquidacion.subtotal_hospitalizacion) %></td>
        <td><%= redondear(@liquidacion.subtotal_traspaso) %></td>
        <td><%= redondear(@liquidacion.subtotal_venta) %></td>
      </tr>
      <tr>
        <td>Iva:</td>
        <td><%= redondear(@liquidacion.iva_ventanilla) %></td>
        <td><%= redondear(@liquidacion.iva_hospitalizacion) %></td>
        <td><%= redondear(@liquidacion.iva_traspaso) %></td>
        <td><%= redondear(@liquidacion.iva_venta) %></td>
      </tr>
      <tr>
        <td>Total:</td>
        <td><%= redondear(@liquidacion.total_ventanilla) %></td>
        <td><%= redondear(@liquidacion.total_hospitalizacion) %></td>
        <td><%= redondear(@liquidacion.total_traspaso) %></td>
        <td><strong><%= redondear(@liquidacion.total_venta) %></strong></td>
      </tr>
    </tbody>
</table>
<% end %>
