<h3 class="text-center">HORARIOS DE TERAPIAS</h3>
<%= form_for @horario do |f|%>
<%= f.label :hora, "Ingrese hora de terapia" %>
<%= f.text_field :hora, class: "form-control", :placeholder => "Formato: 7:00 - 7:30 " %>
<%= f.submit "Guardar", class: "btn btn-primary"%>
<% end %>
<br>
<legend>Horarios Ingresados</legend>
<ul>
	<% @horarios.each do |h|%>
	<li><%= h.hora%></li>
	<% end %>
</ul>
