<div class="col-md-7 column col-md-offset-2">
	<legend>FACTURA</legend>
	<h6 class="text-muted text-right fecha"></h6>
	<!-- formulario datos del cliente -->
	<%= nested_form_for @factura do |f| %>
		<% if @factura.errors.any? %>
			<h2>Errores:</h2>	
			<ul>
				<% @factura.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
	<%= f.fields_for :cliente do |cliente_params| %>
		<%=  cliente_params.hidden_field :id, class: "cliente_id" %>
		<%=  cliente_params.text_field :numero_de_identificacion, class: "form-control-border numero_de_identificacion", :placeholder => "Cedula o RUC" %>
		<%=  cliente_params.text_field :nombre, class: "form-control-border nombre", :placeholder => "Nombres Apellidos" %>
		<%=  cliente_params.text_field :direccion, class: "form-control-border direccion", :placeholder => "Direccion"%>
		<%=  cliente_params.text_field :telefono, class: "form-control-border telefono", :placeholder => "Telefono"%>
	<% end %>
	<!-- ingreso de productos -->
		<table class="table" id="factura">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>V.Unit</th>
					<th>Descuento</th>
					<th>I.V.A.</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.fields_for :item_facturas, :wrapper => false do |item_factura| %>
				<tr class="fields">
					<%= render 'itemfacturas', item_factura:item_factura %>
				</tr>
				<% end %>
				<tr>
					<td><%= f.link_to_add "Producto", :item_facturas, :class => "nuevo_new" %>
					</td>
				</tr>
				<!-- impuestos de la factura -->
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="col-sm-3">
						<h6>Subtotal 0%:</h6>
						<h6>Descuento:</h6>
						<h6>Subtotal 12%:</h6>
						<h6>I.V.A:</h6>
						<h4>TOTAL:</h4>
					</td>
					<td class="col-sm-2">
						<%= f.text_field :subtotal_0, class: "input-noborder subtotal_0", :readonly => true%>
						<%= f.text_field :descuento, class: "input-noborder descuento_factura", :readonly => true%>
						<%= f.text_field :subtotal_12, class: "input-noborder subtotal_12",:readonly => true %>
						<%= f.text_field :iva, class: "input-noborder iva_factura", :readonly => true%>
						<%= f.text_field :total, class: "input-noborder total_factura", :readonly => true%>
					</td>
				</tr>
			</tbody>
		</table>
		<%= f.submit :Guardar, class: "guardar_submit", data: {disable_with: "Almacenando"}%>
	<% end %>
</div>