<h2 class="text-center">FACTURA</h2>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<!-- formulario datos del cliente -->
				<%= nested_form_for @factura do |f| %>
				<div class="col-md-4 col-md-offset-2">
					<%= f.fields_for :cliente do |cliente_params| %>
					<%=  cliente_params.hidden_field :id %>
					<div class="form-group">
						<div class="col">
							<%=  cliente_params.text_field :numero_de_identificacion, class: "form-control-border numero_de_identificacion", :placeholder => "Cedula o RUC" %>
						</div>
					</div>
					<div class="form-group">
						<div class="col">
							<%=  cliente_params.text_field :nombre, class: "form-control-border nombre", :placeholder => "Nombres Apellidos" %>
						</div>
					</div>
					<div class="form-group">
						<div class="col">
							<%=  cliente_params.text_field :direccion, class: "form-control-border direccion", :placeholder => "Direccion"%>
						</div>
					</div>
					<div class="form-group">
						<div class="col">
							<%=  cliente_params.text_field :telefono, class: "form-control-border telefono", :placeholder => "Telefono"%>
						</div>
					</div>
					<% end %>
				</div>
				<!-- datos de factura -->
				<div class="col-md-4 column">
					<label class="fecha"></label><br>
					<label>Vendedor: </label> <span><%= current_user.username %></span>
				</div>
				<!-- ingreso de productos -->
				<div class="col-md-8 col-md-offset-2">
					<table class="table">
						<thead>
							<tr>
								<th>
									Codigo
								</th>
								<th>
									Nombre
								</th>
								<th>
									Cantidad
								</th>
								<th>
									V. Unit
								</th>
								<th>
									Descuento
								</th>
								<th>
									IVA
								</th>
								<th>
									Total
								</th>
							</tr>
						</thead>
						<tbody>
							<%= f.fields_for :item_facturas, :wrapper => false do |item_factura| %>
								<tr class="fields">
									<%= render 'itemfacturas', item_factura:item_factura %>
								</tr>
							<% end %>
						<tr>
							<td><%= f.link_to_add "Producto", :item_facturas, :class => "nuevo_new" %></td>
						</tr>
						</tbody>
					</table>
				</div>
				<!-- impuestos de la factura -->
				<div class="col-md-6 col-md-offset-7">
					<div class="col-md-2">
						<%= f.label :subtotal%><br>
						<%= f.label :descuento%><br>
						<%= f.label :iva%><br>
						<%= f.label :subtotal12 %><br>
						<%= f.label :total%>
					</div>
					<div class="col-md-5">
						<%= f.text_field :subtotal_0, class: "form-control-border subtotal_0"%><br>
						<%= f.text_field :descuento, class: "form-control-border descuento_factura"%><br>
						<%= f.text_field :iva, class: "form-control-border iva_factura"%><br>
						<%= f.text_field :subtotal_12, class: "form-control-border subtotal_12" %><br>
						<%= f.text_field :total, class: "form-control-border total_factura"%>
						<%= f.submit :Guardar, class: "crear_nuevo", data: {disable_with: "Almacenando"}%>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
