<h3>Reporte de Facturas  de Ventanilla  desde:</h3>
<h4><%= @start_date%> hasta <%= @end_date%></h4>
<% unless request.format.to_sym == :pdf %>
<p>
  Descargar:
  <%= link_to "PDF", reportes_reporte_total_path(params.merge(format: 'pdf')) %>
</p>
<% end %>
<div class="table-responsive">
  <table class="table table-hover table-print">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Cliente</th>
        <th>Dirección</th>
        <th>Vendedor</th>
        <th>Fecha</th>
        <th>Sub 12%</th>
        <th>Sub 0%</th>
        <th>IVA</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @facturas.each do |factura|  %>
      <tr>
        <td><%= factura.numero %></td>
        <td><%= factura.cliente.nombre %></td>
        <td><%= factura.cliente.direccion %></td>
        <td><%= factura.user.username %></td>
        <td><%= local_date(factura.created_at,"datetime") %></td>
        <td><%= factura.subtotal_12 %></td>
        <td><%= factura.subtotal_0 %></td>
        <td><%= factura.iva %></td>
        <td><%= factura.total %></td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong><%= redondear(@facturas_subtotal_12)%></strong></td>
        <td><strong><%= redondear(@facturas_subtotal_0) %></strong></td>
        <td><strong><%= redondear(@facturas_iva) %></strong></td>
        <td><strong><%= redondear(@facturas_total) %></strong></td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Facturas Emitidas: <%= @facturas_cantidad%> </h4>
