<li class="pacientes-hospitalizados text-center blue-opcion" >
	<span class="fa fa-user fa-3x"></span>
	<h4><li><%=link_to("Clientes", clientes_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center green-opcion" >
	<span class="fa fa-money fa-3x"></span>
	<h4><li><%=link_to("Caja y Reportes",dashboard_index_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center blue-opcion">
	<span class="fa fa fa-file-text-o fa-3x"></span>
	<h4><li><%=link_to("Factura Venta", new_factura_path)%></li></h4>
</li>
<% if @admin%>
<li class="pacientes-hospitalizados text-center grey-opcion">
	<span class="fa fa fa-file-text-o fa-3x"></span>
	<h4><li><%=link_to("Factura Compra", new_factura_compra_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center red-opcion">
	<span class="fa fa-ambulance fa-3x"></span>
	<h4><li><%=link_to("Proveedores", proveedors_path)%></li></h4>
</li>
<% end %>
<li class="pacientes-hospitalizados text-center blue-opcion">
	<span class="fa fa fa-file-text-o fa-3x"></span>
	<h4><li><%=link_to("Proforma", new_proforma_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center red-opcion">
	<span class="fa fa fa-exchange fa-3x"></span>
	<h4><li><%=link_to("Transferencia", new_traspaso_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center green-opcion">
	<span class="fa fa fa-file-text-o fa-3x"></span>
	<h4><%=link_to("Hospitalizacion", hospitalizacions_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center red-opcion" >
	<span class="fa fa-shopping-cart fa-3x"></span>
	<h4><li><%=link_to("Productos", productos_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center red-opcion">
	<span class="fa fa-thumbs-down fa-3x"></span>
	<h4><li><%=link_to("Caducados", productos_caducado_path)%></li></h4>
</li>
