<% factura = Factura.last %>
<h6>
  Cliente: <%= factura.cliente.nombre%>
</h6>
<h6>
  RUC/C.I: <%= factura.cliente.numero_de_identificacion%>
</h6>
<h6>
  Dirección: <%= factura.cliente.direccion%>
</h6>
<h6>
  Loja: <%= factura.fecha_de_emision %>
</h6>
<table class="table-factura">
  <thead>
    <tr>
      <th>CANT</th>
      <th>PRODUCTO</th>
      <th>V.Unt</th>
      <th>Iva</th>
      <th>Desct</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <% factura.item_facturas.each do |item| %>
    <tr>
      <td><%= item.cantidad %></td>
      <td><%= item.ingreso_producto.producto.nombre%></td>
      <td><%= item.valor_unitario %></td>
      <td>$ <%= item.iva%></td>
      <td>$ <%= item.descuento%></td>
      <td>$ <%= item.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-right impuestos">
  <small class="imp-factura">SUB: <%= factura.subtotal_0 %></small><br>
  <small class="imp-factura">IVA: <%= factura.iva %></small><br>
  <small class="imp-factura">DESC: <%= factura.descuento %></small><br>
  <small class="imp-factura">TOTAL: <%= factura.total %></small><br>
</div>