<% @doctores.each do |doctor|  %>
<li class= "col-md-4 list items">
	<div class="doctor">
		<h5>
			<span><strong <%= 'style= text-decoration:line-through;' if doctor.suspendido %>><%=  doctor.cliente.nombre %></strong></span>
			<span>
				<%= link_to "", doctor, method: :delete, data: { confirm: 'Esta seguro?' }, class: "ttip fa fa-times-circle pull-right text-muted",:rel=> 'tooltip', :title=>'Eliminar' %>
			</span>
			<% if doctor.suspendido %>
			<%= link_to '', suspender_doctor_path(doctor), method: :post, data: { confirm: 'Esta seguro?' },:rel => 'tooltip', :title => 'Activar', class: "ttip fa fa-thumbs-o-up text-muted pull-right"%>
			<% else %>
			<%= link_to '', suspender_doctor_path(doctor), method: :post, data: { confirm: 'Esta seguro?' },:rel => 'tooltip', :title => 'Suspender', class: "ttip fa fa-thumbs-o-down  text-muted pull-right"%>
			<% end %>
			<span><%= link_to "", edit_doctor_path(doctor), {:remote => true, :rel=> 'tooltip', :title=>'Editar','data-toggle' =>  "modal", 'data-target' => '#myModal', class: "ttip fa fa-edit pull-right text-muted"} %></span>
		</h5>
		<h5><%= doctor.especialidad  %> / <span class="text-muted">Atiende: <%=  doctor.cantidad_turno %> turnos</span></h5>
		<p>Turnos:
			<small><%= link_to "Hoy",turnos_dia_doctor_path(doctor),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}%></small> |
			<small><%= link_to "Mañana",turnos_manana_doctor_path(doctor),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}%></small>|
			<small><%= link_to "EMER", pacientes_emergencia_doctor_path(doctor)%></small>
		</p>
	</div>
</li>
<% end %>
