<% if @turnos_hoy.empty? %>
<div class="text-center text-muted">
	<span class= "fa fa-ticket fa-2x"></span>
	<h5>No hay turnos registrados</h5>		
</div>
<% else %>
<ul class="list-group">
	<% @turnos_hoy.each do |t|  %>
	<li class="list-group-item item-turnos" <%= 'style= background-color:#7CC576;color:#fff;' if t.atendido %> <%= 'style= background-color:#CA6868;color:#fff;' if @enviado and @enviado_preventiva %>>
		<ul class="list-inline text-center">
			<li class=" col-md-2 col-xs-2 datos-turno"><span><%= t.numero %></span></li>
			<li class=" col-md-8 col-xs-8 border-lines">
				<h4><%=t.paciente.cliente_nombre%></h4>
			</li>
			<li class=" col-md-2 col-xs-2 text-center datos-turno">
				<% if t.numero >= 15 %>
				<span>00:00</span>
				<% else %>
				<span><%=local_date(t.hora, "time")%></span>
				<% end %>
			</li>
		</ul>
		<% unless @enviado and @enviado_preventiva %>
		<% unless t.atendido %>
		<span class="show-menu">
			<span class="fa fa-chevron-right"></span>
		</span>
		<ul class="list-group-submenu">
			<li class="list-group-submenu-item"><%= link_to '', t.paciente, :rel => 'tooltip', :title => 'Historia Clinica', :target => "_blank", class: "fa fa-h-square"%></li>
			<li class="list-group-submenu-item info">
				<% unless @enviado_preventiva %>
				<%= link_to 'P', new_turno_consulta_externa_preventiva_path(t), :rel => 'tooltip', :title => 'Consulta Preventiva'%>
				<% else %>
				<span class="fa fa-rocket"></span>
				<% end %>
			</li>
			<li class="list-group-submenu-item success">
				<% unless @enviado%>
				<%= link_to "M", new_turno_consulta_externa_morbilidad_path(t), { :rel=> 'tooltip', :title=>'Consulta Morbilidad'} %>
				<% else %>
				<span class="fa fa-rocket"></span>
				<% end %>
			</li>
		</ul>
		<% end %>
		<% end %>
	</li>
	<% end %>
</ul>
<% end %>
