<div class="row title-history">
	<h2 class= "fix-margin">Hoja de Entrega y Recepcion de Turno</h2>
</div>
<div class="row info-paciente">
	<div class="row">
		<h4 class="fix-margin">Servicio: <%=@entrega.servicio %></h4>
		<h4 class="fix-margin">Fecha: <%=local_date(@entrega.fecha, "date") %></h4>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="title-history">
					<th colspan="6">PACIENTES EN AYUNAS</th>
				</tr>
				<tr>
					<th>Cama</th>
					<th>Paciente</th>
					<th colspan="3">Razones</th>
					<th >Registrado</th>
				</tr>
			</thead>
			<tbody class="ayuna">
				<% if @ayunas.empty? %>
				<tr><td colspan="6" class="text-center text-muted">No se registraron pacientes</td></tr>
				<% end %>
				<% @ayunas.each do |i| %>
				<tr>
					<td><%= i.hospitalizacion_registro.asignacion_cama.numero_cama  %> </td>
					<td><%= i.hospitalizacion_registro.paciente.cliente.nombre  %> </td>
					<td colspan="3"><%= i.descripcion  %> </td>	
					<td><%= i.user.username  %> </td>	
				</tr>
				<% end %>
				<tr class="title-history">
					<th colspan="6">EXAMENES ESPECIALES Y URGENTES</th>
				</tr>
				<tr>
					<th>Cama</th>
					<th>Paciente</th>
					<th colspan="3">Examenes</th>
					<th >Registrado</th>
				</tr>
				<% if @examenes.empty? %>
				<tr><td colspan="6" class="text-center text-muted">No se registraron pacientes</td></tr>
				<% end %>
				<% @examenes.each do |i| %>
				<tr>
					<td><%= i.hospitalizacion_registro.asignacion_cama.numero_cama  %> </td>
					<td><%= i.hospitalizacion_registro.paciente.cliente.nombre  %> </td>
					<td colspan="3"><%= i.descripcion  %> </td>
					<td><%= i.user.username  %> </td>	
				</tr>
				<% end %>
				<tr class="title-history">
					<th colspan="6">INGRESO EGRESO Y TRANSFERNECIAS</th>
				</tr>
				<tr>
					<th>Cama</th>
					<th>Paciente</th>
					<th class="text-center">Ingreso</th>
					<th class="text-center">Egreso</th>
					<th class="text-center">Transferencia</th>
					<th>Registrado</th>
				</tr>
				<% if @movimientos.empty? %>
				<tr><td colspan="6" class="text-center text-muted">No se registraron pacientes</td></tr>
				<% end %>
				<% @movimientos.each do |i| %>
				<tr>
					<td><%= i.hospitalizacion_registro.asignacion_cama.numero_cama  %> </td>
					<td><%= i.hospitalizacion_registro.paciente.cliente.nombre  %> </td>
					<td class="text-center">
						<% if i.descripcion == "ingreso" %>
						<i class="fa fa-check text-success"></i>
						<% end %>
					</td>
					<td class="text-center">
						<% if i.descripcion == "egreso" %>
						<i class="fa fa-check text-success"></i>
						<% end %>
					</td>
					<td class="text-center">
						<% if i.descripcion == "transferencia" %>
						<i class="fa fa-check text-success"></i>
						<% end %>
					</td>
					<td><%= i.user.username%> </td>	
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="table-responsive col-md-6">
			<table class="table table-hover">
				<thead>
					<tr class="title-blue-head">
						<th colspan="6">PACIENTES EN AISLAMIENTO</th>
					</tr>
					<tr>
						<th>Cama</th>
						<th>Paciente / Tipo as.</th>
						<th>Registrado</th>
					</tr>
				</thead>
				<tbody class="aislamientos">
					<% if @aislamientos.empty? %>
					<tr><td colspan="6" class="text-center text-muted">No se registraron pacientes</td></tr>
					<% end %>
					<% @aislamientos.each do |i| %>
					<tr>
						<td><%= i.hospitalizacion_registro.asignacion_cama.numero_cama  %> </td>
						<td><%= i.hospitalizacion_registro.paciente.cliente.nombre  %> / <small class="text-success"><%= i.descripcion  %></small></td>
						<td><%= i.user.username %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="table-responsive col-md-6">
			<table class="table table-hover">
				<thead>
					<tr class="title-blue-head">
						<th colspan="3">PACIENTES GRAVES</th>
					</tr>
					<tr>
						<th>Cama</th>
						<th>Paciente</th>
						<th>Registrado</th>
					</tr>
				</thead>
				<tbody class="aislamientos">
					<% if @graves.empty? %>
					<tr><td colspan="6" class="text-center text-muted">No se registraron pacientes</td></tr>
					<% end %>
					<% @graves.each do |i| %>
					<tr>
						<td>34</td>
						<td><%= i.hospitalizacion_registro.paciente.cliente.nombre  %> </td>
						<td><%= i.user.username %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="title-red-head">
					<th colspan="6">DEFUNCIONES</th>
				</tr>
				<tr>
					<th>Cama</th>
					<th>Paciente</th>
					<th>Hora</th>
					<th>Especialidad</th>
					<th>Historia C</th>
					<th>Registrado</th>
				</tr>
			</thead>
			<tbody class="aislamientos">
				<% if @defunciones.empty? %>
				<tr><td colspan="6" class="text-center text-muted">No se registraron pacientes</td></tr>
				<% end %>
				<% @defunciones.each do |i| %>
				<tr>
					<td><%= i.hospitalizacion_registro.asignacion_cama.numero_cama  %> </td>
					<td><%= i.hospitalizacion_registro.paciente.cliente.nombre  %> </td>
					<td><%= i.descripcion  %> </td>
					<td><%= i.hospitalizacion_registro.especialidad  %> </td>
					<td><%= i.hospitalizacion_registro.paciente.n_hclinica  %> </td>
					<td><%= i.user.username %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
