	<tbody>
			<tr>
				<td>
					<%=  item_factura.text_field :cantidad, class: "form-control", :placeholder => "cantidad" %>
				</td>
				<td>
					<%=  item_factura.text_field :valor_unitario, class: "form-control", :placeholder => "V. Unit" %>
				</td>
				<td>
					<%=  item_factura.text_field :descuento, class: "form-control", :placeholder => "Desct." %>
				</td>
				<td>
					<%=  item_factura.text_field :iva, class: "form-control", :placeholder => "Iva" %>
				</td>
				<td>
					<%=  item_factura.text_field :total, class: "form-control", :placeholder => "Total" %>
				</td>
			</tr>
		</tbody>
