<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Editar Perfil</h1>
</div>
<%= nested_form_for @user do |f| %>
<div class="modal-body">
  <%= f.fields_for :cliente do |cliente_params| %>
  <%=  cliente_params.text_field :nombre, class: "form-control"%>
  <%=  cliente_params.text_field :direccion, class: "form-control"%>
  <%=  cliente_params.text_field :numero_de_identificacion, class: "form-control"%>
  <%=  cliente_params.text_field :telefono, class: "form-control"%>
  <%=  cliente_params.text_field :email, class: "form-control"%><br>
  <% end %>
  <legend>Datos de Usuario</legend>
  <%= f.text_field :username, :placeholder => "Nombre de Usuario", class: "form-control" %>
  <%= f.password_field :password, :placeholder => "Nueva Clave", class: "form-control" %>
  <%= f.password_field :password_confirmation, :placeholder => "Confirmar Clave", class: "form-control" %>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit 'Guardar', class: "btn btn-success"%>
</div>
<% end %>

