<h3 class="text-center">Administración de Usuarios</h3>
<% @users.each do |user| %>
  <div class=" well row col-md-8 col-md-offset-2">
    <div class="col-md-2">
      <!-- agregar imagen de Usuario -->
    </div>
    <div class="col-sm-4 col-md-6">
      <blockquote>
        <p><%= user.cliente.nombre%></p><small><%= user.rol%></small>
      </blockquote>
    </div>
    <i class="fa fa-envelope malito"></i> <%= user.cliente.email%><br/>
    <i class="fa fa-map-marker"></i> <%= user.cliente.direccion%><br/>
    <i class="fa fa-phone"></i> <%= user.cliente.telefono%>
  </div>
<% end %>