<h3 class="text-center">Historia Clinica # <%= @historia.numero%></h3>
<div class="row">
	<p>
		Tipo: <%= @historia.paciente.tipo  %><br>
		Nombre: <%= @historia.paciente.cliente.nombre  %><br>
		C.I: <%= @historia.paciente.cliente.numero_de_identificacion  %><br>
		Edad: <%= @historia.paciente.cliente.edad  %><br>
		Fecha de Ingreso: <%= @historia.fecha  %><br>
	</p>
</div>
<div class="row">
	<legend>Registros</legend>
	<table class="table">
		<thead>
			<th>Fecha E/S</th>
			<th>Dias Hosp.</th>
			<th>Medico</th>
			<th>Diag. Ingreso</th>
			<th>Diag. Salida</th>
		</thead>
			<% @historia.registros.each do |r|  %>
		<tbody>
			<td><%= r.fecha_de_ingreso.to_date %> / <%= r.fecha_de_salida %></td>
			<td><%= r.dias_hospitalizacion %></td>
			<td><%= r.medico_asignado %></td>
			<td><%= r.diagnostico_ingreso%></td>
			<td><%= r.diagnostico_salida %></td>
		</tbody>
			<% end %>
	</table>
</div>
