<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  



  <div class="col-md-7 col-sm-offset-2">
  
   
 
 <form class="form-horizontal" role="form">
  <div class="form-group">
    <%= f.label :nombre, class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :nombre_o_razon_social , class: "form-control", placeholder: "Nombre o Razon Social"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :direccion , class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :direccion , class: "form-control", placeholder: "Dirección"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :identificacion , class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :numero_de_identificacion , class: "form-control", placeholder: "Numero de Identificación"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telefono, class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :telefono , class: "form-control", placeholder: "Telefono"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :codigo , class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :codigo, class: "form-control", placeholder: "Código"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :representante, class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :representante_legal, class: "form-control", placeholder: "Representante Legal"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pais, class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :pais, class: "form-control", placeholder: "País"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ciudad, class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :ciudad, class: "form-control", placeholder: "Ciudad"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fax , class: "col-lg-3 control-label" %>
    <div class="col-lg-7">
             <%= f.text_field :fax , class: "form-control", placeholder: "Fax"%>
    </div>
  </div>
  
  
    
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-10">
       <br>
      <br>
     <%= f.submit "Guardar", class:"btn btn-success" %>
    </div>
  </div>
 
 <div class="form-group">
    <div class="col-sm-offset-5 col-sm-10">
       <br>
      <br>
     <%= f.submit " Atras ", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

 

