

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Nuevo Proveedor</h1>
</div>
<%= form_for(@proveedor, :remote => true) do |f| %>
<div class="modal-body">
  <%= f.label :Nombre %>
  <%= f.text_field :nombre_o_razon_social, class: "form-control", required:true %>
  <%= f.label :Direccion %>
  <%= f.text_field :direccion, class: "form-control"%>
  <%= f.label :identificacion %>
  <%= f.text_field :numero_de_identificacion, class: "form-control", required:true%>
  <%= f.label :Telefono %>
  <%= f.text_field :telefono, class: "form-control"%>
  <%= f.label :Codigo %>
  <%= f.text_field :codigo, class: "form-control", required:true%>
  <%= f.label :Representante_Legal %>
  <%= f.text_field :representante_legal, class: "form-control datepicker", required:true%>
  <%= f.label :Pais %>
  <%= f.text_field :pais, class: "form-control"%>
  <%= f.label :Ciudad %>
  <%= f.text_field :ciudad, class: "form-control"%>
  <%= f.label :Fax%>
  <%= f.text_field :fax, class: "form-control"%>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit 'Guardar', class: "btn btn-primary"%>
</div>
<% end %>



