<div class="row title-blue-head">
  <span>
    <i><%= link_to "", personals_path(), class: "fa fa-arrow-left"%></i>
  </span>
  <h3 class="text-month"><strong>Nuevo Terapista</strong></h3>
</div>
<div class="row info-paciente">
	<%= nested_form_for @personal do |f| %>
	<%= form_errors_for @personal %>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body field">
					<%= f.fields_for :cliente do |cliente_params| %>
					<%= cliente_params.hidden_field :id, class: "cliente_id" %>
					<%= cliente_params.label :numero_de_identificacion, "Ingrese Cédula"%>
					<%= cliente_params.text_field :numero_de_identificacion, class: "form-control identificacion_cliente"%>
					<%= cliente_params.label :nombre, "Ingrese Nombres y Apellidos"%>
					<%= cliente_params.text_field :nombre, class: " nombre" %>
					<%= cliente_params.label :telefono, "Numero Telefónico"%>
					<%= cliente_params.text_field :telefono, class: "form-control telefono"%>
					<%= cliente_params.label :direccion, "Dirección"%>
					<%= cliente_params.text_field :direccion, class: "form-control direccion"%>
					<% end %>
					<%= f.hidden_field(:cliente_id) %><br>
					<%= f.submit :Guardar, class: "btn btn-success", data: {disable_with: "Almacenando"}%>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>
