<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Proforma<span class="text-right"> Nº<%= @proforma.numero%></span></h3>
</div>
<div class="modal-body">
  <p>
    <strong>Cliente:</strong>
    <%= @proforma.cliente.nombre%>
  </p>
  <p>
    <strong>Fecha de Emisión:</strong>
    <%= @proforma.fecha_emision %>
  </p>
  <table class="table table-hover">
    <thead class= "well">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Iva</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @proforma.item_proformas.each do |item| %>
      <tr>
        <td><%= item.ingreso_producto.producto.nombre%></td>
        <td><%= item.cantidad %></td>
        <td><%= item.valor_unitario %></td>
        <td><%= item.iva %></td>
        <td><%= item.total %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-8">
      <p>
        <strong>
          Sub 12%: <br>
          Sub 0%: <br>
          IVA: <br>
          Total: <br>
        </strong>
      </p>
    </div>
    <div class="col-xs-2">
      <strong>
        $ <%= @proforma.subtotal_12 %><br>
        $ <%= @proforma.subtotal_0 %><br>
        $ <%= @proforma.iva %><br>
        $ <%= @proforma.total %><br>
      </strong>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
