<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Cierre de caja</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6 col-xs-6 text-center">
      <h6 class="text-muted">Total de ventas</h6>
      <div class="today-total">
        <div class = "hoy">
          <h1 class="total-num">$ <%= @cierrecaja.sumatoria %></h1>
        </div>
        <ul class="list-inline numbers text-center">
          <li>
            <span class="text-muted"><small>Sub 12%</small></span><br>
            <strong><%= @cierrecaja.subtotal12 %></strong> 
          </li>
          <li>
            <span class="text-muted"><small>Sub 0%</small></span><br>
            <strong><%= @cierrecaja.subtotal0 %></strong>
          </li>
          <li>
            <span class="text-muted"><small>Iva</small></span><br>
            <strong><%= @cierrecaja.sumatoriaiva %></strong>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-xs-6 text-muted">
      <h6 class="text-center">INFORMACION</h6>
      <blockquote>
        <h6><i class= "fa fa-file-o"></i> Facturas Emitidas: <%= @cierrecaja.cierre_caja_items.count %></h6>
        <h6><i class= "fa fa-clock-o"></i> Primera Factura:<br> <%= local_date(@cierrecaja.cierre_caja_items.first.created_at,"datetime")%></h6>
        <h6><i class= "fa fa-clock-o"></i> Ultima Factura: <br><%= local_date(@cierrecaja.cierre_caja_items.last.created_at,"datetime")%></h6>
      </blockquote>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= link_to 'Cerrar e Imprimir', print_and_close_cierre_caja_path(@cierrecaja), {:class => "btn btn-success", :target => "_blank"} %>
</div>
