<h3 class="text-center">REPORTE DE CIERRE DE CAJA:</h3>
<div class="fix-margin">
  <h5>Fecha: <%= local_date(Time.now, "date") %></h5>
  <h5>Usuario: <%= current_user.username %></h5>
  <h5>Rol: <%= current_user.rol.nombre %></h5>
</div>
<div class="col-md-2">
  <table class="table table-print">
    <thead>
      <tr>
        <th>Impuestos</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Subtotal 12%:</td>
        <td><%= @cierrecaja.subtotal12 %></td>
      </tr>     
      <tr>
        <td>Subtotal 0%:</td>
        <td><%= @cierrecaja.subtotal0 %></td>
      </tr>
      <tr>
        <td>Iva:</td>
        <td><%= @cierrecaja.sumatoriaiva %></td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= @cierrecaja.sumatoria %></strong></td>
      </tr>
    </tbody>
  </table>
</div>
<h5 class="fix-margin text-center">Resumen de Facturas</h5>
<div class="col-md-8">
  <table class="table table-print">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Cliente</th>
        <th>Sub 12%</th>
        <th>Sub 0%</th>
        <th>Iva</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @cierrecaja.cierre_caja_items.each do |item|  %>
      <tr>
        <td><%= item.factura.numero %></td>
        <td><%= item.factura.cliente.nombre %></td>
        <td><%= item.factura.subtotal_12 %></td>
        <td><%= item.factura.subtotal_0 %></td>
        <td><%= item.factura.iva %></td>
        <td><%= item.factura.total %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

