<div class="horario mygrid-wrapper-div">
	<% @resultados.each do |r|%>
	<h5>Fecha de registro: <%= local_date(r.created_at, "date")%></h5>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Hora</th>
				<th>Fecha</th>
				<th>Terapista</th>
				<th>Resultado</th>
			</tr>
		</thead>
		<tbody>
			<% r.resultado_tratamientos.each do |rt|%>
				<% unless rt.personal.nil? %>
					<tr>
						<td><%= rt.horario.hora %></td>
						<td><%= local_date(rt.fecha, "date") %></td>
						<td><%= rt.personal.cliente.nombre%></td>
						<td><%= rt.resultado %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<%= link_to "Reporte PDF", reportes_fisiatria_paciente_path(params.merge(format: 'pdf', :registro => r)), class: "btn btn-success", target: "_blank" %>

	<%= link_to "Certificado PDF", reportes_fisiatria_paciente_certificado_path(params.merge(format: 'pdf', :registro => r)), class: "btn btn-primary", target: "_blank" %>
	<% end %>
</div>
