<tr>
	<td><%= local_date(item.fecha,"date") %></td>
	<td><%= local_date(item.hora, "time") %></td>
	<% if current_user == item.user  %>
	<td><%= best_in_place item, :nota %></td>
	<% else %>
	<td><%= item.nota %></td>
	<% end %>
	<td><%= item.user.cliente.nombre %></td>
</tr>
