<div class="row title-blue-head">
  <span>
    <i><%= link_to "", calendario_index_path(), class: "fa fa-arrow-left"%></i>
  </span>
  <h3 class="text-month"><strong>Resultado de Terapia</strong></h3>
</div>
<div class="row info-paciente">
  <div class="col-md-6 col-md-offset-3 horario">
    <legend class="text-center"><%= @resultado.paciente.cliente_nombre%></legend>
    <%= form_for @resultado do |f| %>
    <% if @resultado.atendido %>
      <%= f.label :razon_editado, "Razon por que quieres editarlo?", class: "text-danger" %>
      <%= f.text_field :razon_editado, class: "form-control", :placeholder => "Ejm: Diagnostico ingresado por error"%>
    <% end %>
    <%= f.label :personal_id, "Seleccione terapista"  %>
    <%= f.select :personal_id, Personal.where(:suspendido => false).map { |h| [h.cliente.nombre, h.id ] },{}, {class: "form-control"}%>
      <%= f.label :resultado %>
      <%= f.text_area :resultado, required:true, class: "form-control", :placeholder => "Ejm: En esta terapia se aplico al paciente una laser terpia" %><br>
    <%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
<% end %>
  </div>
</div>

