<h1>AsignarHorarios</h1>
<%= nested_form_for @horario do |f|%>
<label>Paciente H.C: <strong class="n_hclinica"></strong></label>
<input type="text" class="identificacion form-control", placeholder="Ingrese nombre paciente">
	<%= f.hidden_field :paciente_id, class: "paciente_id" %>
	<%= f.label :horario_id, "Seleccione horario"  %>
	<%= f.select :horario_id, Horario.all.map { |h| [h.hora, h.id ] },{}, {class: "form-control"}%>
	<%= f.label :numero_terapias, "Ingrese numero de terapias" %>
	<%= f.number_field :numero_terapias, class: "form-control", :placeholder => "Ejm:2 " %>
	<%= f.label :fecha_inicio, "Ingrese fecha de inicio" %>
	<%= f.text_field :fecha_inicio, class: "form-control datepicker", :placeholder => "Ejm: 2012-12-02 " %>
	<%= f.label :fecha_final, "Ingrese fecha final " %>
	<%= f.text_field :fecha_final, class: "form-control datepicker", :placeholder => "Ejm: 2012-12-02 " %><br>
	<legend>Terapias</legend>
	<%=f.fields_for :tratamiento_registros do |t|%>
		<%= t.hidden_field :asignar_horario_id %>
		<%= t.label :tratamiento_recibido, "Ingrese codigo de terapia"  %>
		<div class="input-group">
			<%= t.text_field :nombre_tratamiento, class: "form-control tratamiento", :placeholder =>"Ejm: 2194"%>
			<%= t.hidden_field :item_tratamiento_id, class: "item_id"  %>
			<span class="input-group-btn">
				<%= t.link_to_remove "X", class: "btn btn-danger"%>
			</span>
		</div>
	<% end %><br>
	<%=f.link_to_add "Agregar", :tratamiento_registros, class: "nuevo_new_default" %><br><br>
	<%= f.submit "Guardar", class: "btn btn-primary"%>
<% end %>
