<h3 class="text-center"><%= wicked_pdf_image_tag "/images/logo1.png", width: 45, height: 45 %> HOSPITAL BÁSICO 7 B.I LOJA</h3><br>
<h4 class="text-center"><strong>PACIENTES REGISTRADOS EN FISIATRÍA</strong></h4>
<h4 class="text-center">MES: <%= month_name(@fecha) %></h4>
<table class="table table-hover table-print">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Tipo</th>
      <th>Fecha</th>
      <th># Factura</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @ingresados.each do |i|  %>
    <tr>
      <td><%= i.paciente.cliente_nombre %></td>
      <td><%= i.paciente.tipo %></td>
      <td><%= local_date(i.created_at, "date") %></td>
      <td><%= i.numero_factura %></td>
      <td>$ <%= i.total_factura %></td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>$ <%= redondear(@total) %></strong></td>
    </tr>
  </tbody>
</table>
