<div class="row">
	<div class="doctors-left col-md-3">
		<div class="doctor-profile">
			<div class="profile-text text-center">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
				</span>
				<h1 class="profile-name"><%= @doctor.cliente_nombre%></h1>
				<span class="profile-title"><%= @doctor.especialidad %></span>
			</div>
		</div>
		<div class="note info-paciente text-muted">
			<h4><i>"Recuerda enviar tus reportes al final de tu jornada de trabajo"</i></h4>
			<span><%=link_to("Morbilidad",new_doctor_jornada_morbilidad_path(@doctor), class: "label label-success")%></span>
			<span><%=link_to("Preventiva",new_doctor_jornada_preventiva_path(@doctor), class: "label label-info")%></span>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row title-blue-head">
			<h3><i class="fa fa-male"></i> <i class="fa fa-female"></i> Tus Pacientes</h3>
		</div>
		<div class="row doctor-pacientes">
			<div class="row turnos-hoy">
				<%= render "doctors/partials/emergencia", :emergencias => @emergencias  %>
			</div>
			<div class="row turnos-hoy">
				<%= render "doctors/partials/hospitalizados", :hospitalizados => @hospitalizados  %>
			</div>
			<div class="row turnos-hoy">
				<h4 class="fa fa-sun-o "> Pacientes del dia</h4>
				<%= render "doctors/partials/turnos_hoy", :turnos => @turnos  %>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="col-xs-12 info-paciente">
			<h5 class= "text-muted text-center"> TURNOS DE MAÑANA</h5>
			<% if @turnos_manana.empty? %>
			<div class="text-center text-muted">
				<span class= "fa fa-ticket fa-2x"></span>
				<h5>No hay turnos registrados</h5>
			</div>
			<% else %>
			<% @turnos_manana.each do |t|  %>
			<div class="text-center control-turno">
				<small><%=t.paciente.cliente_nombre%></small>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
