<h3>Bienvenido Dr(a): <%= @doctor.cliente.nombre%></h3>
<div class="info-paciente">
	<div class="col-md-6">
		<h5>Pacientes para el dia de Hoy</h5>
		<ul class="list-turnos">
			<% if @turnos_hoy.empty? %>
			<div class="text-center text-muted">
				<span class= "fa fa-ticket fa-2x"></span>
				<h5>No hay turnos registrados</h5>		
			</div>
			<% end %>
			<% @turnos_hoy.each do |t|  %>
			<li class="item-turnos">
				<div class=" col-sx-12 row-fix-div atendidos">
					<div class="row col-md-2 col-xs-2 hora"><span><%= t.numero %></span></div>
					<div class="row col-md-8 col-xs-8 paciente">
						<h4><%=t.paciente.cliente.nombre%></h4>
					</div>
					<div class="row col-md-2 col-xs-2 hora">
						<% if t.numero >= 15 %>
						<span>00:00</span>
						<% else %>
						<span><%=local_date(t.hora, "time")%></span>
						<% end %>
					</div>
				</div> 
			</li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-6">
		<h5>Pacientes para el dia de manana</h5>
		<ul class="list-turnos">
			<% if @turnos_manana.empty? %>
			<div class="text-center text-muted">
				<span class= "fa fa-ticket fa-2x"></span>
				<h5>No hay turnos registrados</h5>		
			</div>
			<% end %>
			<% @turnos_manana.each do |t|  %>
			<li class="item-turnos">
				<div class=" col-sx-12 row-fix-div atendidos">
					<div class="row col-md-2 col-xs-2 hora"><span><%= t.numero %></span></div>
					<div class="row col-md-8 col-xs-8 paciente">
						<h4><%=t.paciente.cliente.nombre%></h4>
					</div>
					<div class="row col-md-2 col-xs-2 hora">
						<% if t.numero >= 15 %>
						<span>00:00</span>
						<% else %>
						<span><%=local_date(t.hora, "time")%></span>
						<% end %>
					</div>
				</div> 
			</li>
			<% end %>
		</ul>
	</div>
	<div class="co-xs-12">
		<h4>Pacientes Por Emergencia</h4>
		<ul class="list-turnos">
			<% @pacientes.each do |t|  %>
			<li class="item-turnos">
				<div class=" col-sx-12 row-fix-div atendidos">
					<div class="row col-md-2 col-xs-2 hora"><span>E</span></div>
					<div class="row col-md-8 col-xs-8 paciente">
						<h4 <%= 'style= text-decoration:line-through;' if t.registrado %> >
							<%=t.paciente.cliente.nombre%>
						</h4>
						<small><%= t.paciente.tipo %></small>
						<small><%= t.registrado %></small>
					</div>
					<div class="row col-md-2 col-xs-2">
						<% if t.registrado %>
						<span class= "fa fa-check"></span>
						<%= link_to "ver", paciente_emergencia_registro_path(t.paciente, t) %>
						<% else %>
						<%= link_to "", edit_paciente_emergencia_registro_path(t.paciente, t), { :rel=> 'tooltip', :title=>'Llenar Salida', class: "ttip pull-right fa fa-arrow-circle-o-right"} %>	
						<% end %>		
					</div>
				</div> 
			</li>
			<% end %>
		</ul>
	</div>
</div>

