<h3>Doctor</h3>
<%= form_for @doctor do |f| %>
<div class="field">
	<%= f.fields_for :cliente do |cliente_params| %>
		<%=  cliente_params.hidden_field :id, class: "cliente_id" %>
		<%=  cliente_params.label :numero_de_identificacion%>
		<%=  cliente_params.text_field :numero_de_identificacion, class: " numero_de_identificacion", :placeholder => "Cédula o RUC" %>
		<%=  cliente_params.label :nombre%>
		<%=  cliente_params.text_field :nombre, class: " nombre", :placeholder => "Nombres Apellidos" %>
		<%=  cliente_params.label :direccion%>
		<%=  cliente_params.text_field :direccion, class: "direccion", :placeholder => "direccion"%>
		<%=  cliente_params.label :telefono%>
		<%=  cliente_params.text_field :telefono, class: "telefono", :placeholder => "Teléfono"%>
	<% end %>
	<%= f.label :especialidad%>
	<%= f.text_field :especialidad, placeholder: "Especialidad" %>
	<%= f.label :cantidad_turno%>
	<%= f.text_field :cantidad_turno, placeholder: "Cantidad de turnos" %>
</div>
<%= f.submit 'Guardar', class: "btn btn-primary" %>
<% end %>
