<h3>TURNOS: <%= @doctor.nombre%></h3>
<% @turnos.each do |t|  %>
<div class=" col-sx-12 row-fix-div">
	<div class="row col-md-2 col-xs-2 hora"><h4><%= t.numero %></h4></div>
	<div class="row col-md-6 col-xs-8">
		<h4 <%= 'style= text-decoration:line-through;' if t.atendido %>><%=t.paciente.cliente.nombre%></h4>
	</div>
	<div class="row col-md-2 col-xs-2">
		<%=link_to "", atendido_turno_path(t), class: "btn btn-success fa fa-check"%>
		<%=link_to "", siguiente_dia_turno_path(t), class: "btn btn-info fa fa-moon-o"%>
	</div>
</div> 
<% end %>
