<h1 class= "text-center"><span class="fa fa-bar-chart-o"></span> Administracion</h1>
<ul class="nav nav-tabs" id="tab_estadisticas">
  <li class="active"><%=link_to "Hospitalizados",{:controller => 'dashboard_enfermeria', :action => 'index'}, :remote => true, :data => {:toogle => "tab"} %></li>
  <li><%=link_to "Cambio Turno",{:controller => 'entrega_turnos', :action => 'index'}, :remote => true, :data => {:toogle => "tab"} %></li>
  <li><%=link_to "Cuartos",{:controller => 'cuartos', :action => 'index'}, :remote => true, :data => {:toogle => "tab"} %></li>
</ul>
<div class="tab-content">
  <%= render 'dashboard_enfermeria/hospitalizados'%>
</div>

<%= javascript_tag "window.Helpers.NavbarVentas.init_estadisticas();" %>

