<div class="militar field">
	<div class="col-md-4">
		<%= f.label :parentesco, "Parentesco Militar" %>
		<%= f.text_field :parentesco, { :class => 'form-control' } %>
	</div>
	<div class="col-md-4">
		<%= f.label :codigo_issfa %>
		<%= f.text_field :codigo_issfa, placeholder: "Codigo ISSFA" %>
	</div>
	<div class="col-md-4">
		<%= f.label :estado %>
		<%= f.select(:estado, ['Activo','Pasivo', 'Derecho Hab'], {}, { :class => 'form-control' }) %>
	</div>
</div>
