<div class="field">
	<div class="col-md-4">
		<%= f.label :estado %>
		<%= f.select(:estado, ['Activo','Pasivo', 'Aspirante', 'Conscripto'], {}, { :class => 'form-control' }) %>
		<%= f.label :grado %>
		<%= f.select(:grado, ['GRAL','CRNL','TCNRL','MYR','CAP','TNTE','SBTNTE','SUB MAY','SUB PR','SUB SEG','SARG PRI','SARG SEG','CABO PR','CABO SEG','SOLDADO','CONSCRIPTO'], {}, { :class => 'form-control' }) %>
	</div>
	<div class="col-md-4">
		<%= f.label :pertenece_a %>
		<%= f.select(:pertenece_a, ['Ejercito','Aviacion','Marina'], {}, { :class => 'form-control' }) %>
		<%= f.label :unidad %>
		<%= f.text_field :unidad, placeholder: "Unidad" %>
	</div>
	<div class="col-md-4">
		<%= f.label :codigo_issfa %>
		<%= f.text_field :codigo_issfa, placeholder: "Codigo ISSFA" %>
	</div>
</div>
