<div class="field">
	<div class="militar">
		<div class="col-md-6">
			<%= f.label :estado %>
			<%= f.text_field :estado, placeholder: "estado" %>
		</div>
		<div class="col-md-6">
			<%= f.label :grado %>
			<%= f.text_field :grado, placeholder: "Grado" %>
		</div>
	</div>
	<div class="militar">
		<div class="col-md-4">
			<%= f.label :pertenece_a %>
			<%= f.text_field :pertenece_a, placeholder: "Pertenece" %>
		</div>
		<div class="col-md-4">
			<%= f.label :unidad %>
			<%= f.text_field :unidad, placeholder: "Unidad" %>
		</div>
		<div class="col-md-4">
			<%= f.label :codigo_issfa %>
			<%= f.text_field :codigo_issfa, placeholder: "Codigo ISSFA" %>
		</div>
	</div>
</div>