<legend>Informacion Personal</legend>
<%= f.fields_for :cliente do |cliente_params| %>
<div class="field">
	<div class="cliente">
		<div class="col-md-4">
			<%=  cliente_params.label :numero_de_identificacion%>
			<%=  cliente_params.text_field :numero_de_identificacion, class: " numero_de_identificacion", :placeholder => "Cédula o RUC" %>
		</div>
		<div class="col-md-4">
			<%=  cliente_params.label :nombre%>
			<%=  cliente_params.text_field :nombre, class: " nombre", :placeholder => "Nombres Apellidos" %>
		</div>
		<div class="col-md-4">
			<%=  cliente_params.label :sexo%>
			<%=  cliente_params.text_field :sexo, class: " direccion", :placeholder => "Dirección"%>
		</div>
	</div>
	<div class="cliente">
		<div class="col-md-4">
			<%=  cliente_params.label :estado_civil%>
			<%=  cliente_params.text_field :estado_civil, class: " sexo", :placeholder => "sexo"%>
		</div>
		<div class="col-md-4">
			<%=  cliente_params.label :edad%>
			<%=  cliente_params.text_field :edad, class: " estado civil", :placeholder => "estado civil"%>
		</div>
		<div class="col-md-4">
			<%=  cliente_params.label :fecha_de_nacimiento %>
			<%=  cliente_params.text_field :edad, class: " edad", :placeholder => "edad"%>
		</div>
	</div>
	<div class="cliente">
		<div class="col-md-6">
			<%=  cliente_params.label :direccion%>
			<%=  cliente_params.text_field :direccion, class: " telefono", :placeholder => "direccion"%>
		</div>
		<div class="col-md-6">
			<%=  cliente_params.label :telefono%>
			<%=  cliente_params.text_field :telefono, class: " telefono", :placeholder => "Teléfono"%>
		</div>
	</div>
</div>
<% end %>
