<%= f.fields_for :cliente do |cliente_params| %>
<div class="field">
	<%=  cliente_params.hidden_field :id, class: "cliente_id" %>
	<div class="col-md-4">
		<%=  cliente_params.label :numero_de_identificacion%>
		<%=  cliente_params.text_field :numero_de_identificacion, class: "identificacion_cliente", :placeholder => "Cédula o RUC" %>
		<%=  cliente_params.label :nombre%>
		<%=  cliente_params.text_field :nombre, class: " nombre", :placeholder => "Nombre y Apellidos" %>
		<%=  cliente_params.label :direccion%>
		<%=  cliente_params.text_field :direccion, class: "direccion", :placeholder => "direccion"%>
	</div>
	<div class="col-md-4">
		<%=  cliente_params.label :telefono%>
		<%=  cliente_params.text_field :telefono, class: "telefono", :placeholder => "Teléfono"%>
		<%=  cliente_params.label :estado_civil%>
		<%= cliente_params.select(:estado_civil, ['Soltero','Casado','Divorciado','Union Libre', 'Viudo'], {}, { :class => 'form-control' }) %>
		<%=  cliente_params.label :sexo%>
		<%= cliente_params.select(:sexo, ['Masculino','Femenino'], {}, { :class => 'form-control' }) %>
	</div>
	<div class="col-md-4">
		<%=  cliente_params.label :fecha_de_nacimiento %>
		<%=  cliente_params.text_field :fecha_de_nacimiento, class: "form-control", :placeholder => "Ejm: 1997-02-20"%>
	</div>
</div>
<% end %>
