<%= f.fields_for :informacion_adicional_paciente do |info| %>
<div class="field">
	<div class="col-md-4">
		<%=  info.label :nacionalidad%>
		<%=  info.select(:nacionalidad, ['Ecuatoriano','Colombiano','Peruano','Otro'], {}, { :class => 'form-control' }) %>
		<%=info.label :raza %>
		<%=info.select :raza, options_for_select(["Mestizo","Mulato","Indigena","Afroecuatoriano/Afrodesenciende","Negro","Montubio","Blanco","Otro"]), {}, { class: "form-control"}%>
	</div>
	<div class="col-md-4">
		<%=  info.label :provincia%>
		<%=  info.text_field :provincia, :placeholder => "provincia" %>
		<%=  info.label :canton%>
		<%=  info.text_field :canton, :placeholder => "canton"%>
	</div>
	<div class="col-md-4">
		<%=  info.label :parroquia%>
		<%=  info.text_field :parroquia, :placeholder => "parroquia" %>
	</div>
	<legend>Informacion Familiar Cercano</legend>
	<div class="col-md-4">
		<%=  info.label :familiar_cercano%>
		<%=  info.text_field :familiar_cercano, :placeholder => "Nombre Familiar Cercano"%>
		<%=  info.label :familiar_parentesco%>
		<%= info.text_field :familiar_parentesco, { :class => 'form-control' } %>
	</div>
	<div class="col-md-4">
		<%=  info.label :familiar_direccion%>
		<%=  info.text_field :familiar_direccion, :placeholder => "telefono del familiar"%>
		<%=  info.label :familiar_telefono%>
		<%=  info.text_field :familiar_telefono, :placeholder => "telefono del familiar"%>
	</div>
	<div class="col-md-4">
		<%=  info.label :representante_legal, "Representante Legal"%>
		<%=  info.text_field :representante_legal, :placeholder => "Ejm: Luis Carvalo"%>
		<%=  info.label :observacion, "Medico y Especialidad"%>
		<%=  info.text_field :observacion, :placeholder => "Medico - Especialidad"%>
	</div>
</div>
<% end %>
