<%= f.fields_for :informacion_adicional_paciente do |info| %>
<div class="field">
	<div class="informacion">
		<div class="col-md-4">
			<%=  info.label :parroquia%>
			<%=  info.text_field :parroquia, :placeholder => "parroquia" %>
		</div>
		<div class="col-md-4">
			<%=  info.label :provincia%>
			<%=  info.text_field :provincia, :placeholder => "provincia" %>
		</div>
		<div class="col-md-4">
			<%=  info.label :canton%>
			<%=  info.text_field :canton, :placeholder => "canton"%>
		</div>
	</div>
	<div class="informacion">
		<div class="col-md-6">
			<%=  info.label :jefe_de_reparto%>
			<%=  info.text_field :jefe_de_reparto, :placeholder => "jefe de reparto"%>
		</div>
		<div class="col-md-6">
			<%=  info.label :observacion%>
			<%=  info.text_field :observacion, :placeholder => "observacion"%>
		</div>
	</div>
</div>
<% end %>