<%= f.fields_for :informacion_adicional_paciente do |info| %>
<div class="field">
	<div class="informacion">
		<div class="col-md-4">
			<%=  info.label :ciudad%>
			<%=  info.text_field :ciudad, :placeholder => "ciudad" %>
		</div>
		<div class="col-md-4">
			<%=  info.label :provincia%>
			<%=  info.text_field :provincia, :placeholder => "provincia" %>
		</div>
		<div class="col-md-4">
			<%=  info.label :canton%>
			<%=  info.text_field :canton, :placeholder => "canton"%>
		</div>
	</div>
	<div class="informacion">
		<div class="col-md-4">
			<%=  info.label :familiar_cercano%>
			<%=  info.text_field :familiar_cercano, :placeholder => "Nombre Familiar Cercano"%>
		</div>
		<div class="col-md-4">
			<%=  info.label :familiar_direccion%>
			<%=  info.text_field :familiar_direccion, :placeholder => "direccion del familiar"%>
		</div>
		<div class="col-md-4">
			<%=  info.label :familiar_telefono%>
			<%=  info.text_field :familiar_telefono, :placeholder => "telefono del familiar"%>
		</div>
	</div>
	<div class="informacion">
		<div class="col-md-11">
			<%=  info.label :observacion%>
			<%=  info.text_field :observacion, :placeholder => "Descripcion"%>
		</div>
	</div>
</div>
<% end %>