<%= f.fields_for :registros do |f| %>
<div class="field">
	<div class="col-md-3">
	<%= f.label :tipo, "Ingreso Por" %>
	<%= f.select(:tipo, ['Hospitalizacion','Consulta Externa', 'Emergencia'], {}, { :class => 'form-control select_registro' }) %>
	</div>
	<div class="no-hospitalicion col-md-3">
		<%= f.label :especialidad%>
		<%= f.select :especialidad, options_for_select(["Medicina Interna","Cardiología","Ginecología","Gastroenterología","Dermatología","Traumatología","Odontología","Fisiatría","Pediatría", "Psicologia", "Nutricion"]), {}, { class: "select-servicio form-control"}%>
	</div>
	<div class="col-md-3">
	<%= f.label :medico_asignado %>
	<%= f.text_field :medico_asignado, class: "doctor_autocomplete" %>
	</div>
</div>
<% end %>
