<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h1 class="modal-title" id="myModalLabel">Nuevo Producto</h1>
</div>
<%= form_for(@producto, :remote => true) do |f| %>
<div class="modal-body">
	<%= f.label :nombre %>
	<%= f.text_field :nombre, class: "form-control" %>
	<%= f.label :precio %>
	<%= f.text_field :precio, class: "form-control"%>
	<%= f.label :codigo %>
	<%= f.text_field :codigo, class: "form-control"%>
	<%= f.label :categoria %>
	<%= f.text_field :categoria, class: "form-control"%>
	<%= f.label :casa_comercial %>
	<%= f.text_field :casa_comercial, class: "form-control"%>
	<%= f.label :fecha_de_caducidad %>
	<%= f.text_field :fecha_de_caducidad, class: "form-control datepicker"%>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary"%>
</div>
<% end %>
