<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Información</h1>
</div>
<div class="modal-body">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Nombre:</strong>
    <%= @producto.nombre %>
  </p>
  <p>
    <strong>Nombre genérico:</strong>
    <%= @producto.nombre_generico %>
  </p>
  <p>
    <strong>Categoría:</strong>
    <%= @producto.categoria %>
  </p>
  <p>
    <strong>Código:</strong>
    <%= @producto.codigo %>
  </p>
  <p>
    <strong>Casa comercial:</strong>
    <%= @producto.casa_comercial %>
  </p>
  <% unless @producto.ingreso_productos.empty? %>
  <strong>Detalles del producto:</strong>
    <% @producto.ingreso_productos.each do |detalle| %>
      <p>
        <strong>Lote:</strong>
        <%= detalle.lote %>
      </p>
      <p>
        <strong>Fecha de caducidad:</strong>
        <%= detalle.fecha_caducidad %>
      </p>
      <p>
        <strong>Precio de compra:</strong>
        <%= detalle.precio_compra %>
      </p>
      <p>
        <strong>Precio de venta:</strong>
        <%= detalle.precio_venta %>
      </p>
      <p>
        <strong>Ganancia:</strong>
        <%= detalle.ganancia %> %
      </p>
    <% end %>
  <% end %>  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
  <%= link_to 'Editar', edit_producto_path(producto), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "editar_edit"}%>
</div>