<%= link_to 'Nuevo', {:controller => 'productos', :action => 'new'},  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "nuevo_new"}  %>
<h1>Lista de Productos</h1>

<div class="table-responsive" id="table-productos">
  <table class="data-table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nombre Generico</th>
        <th>Precio A</th>
        <th>Precio B</th>
        <th>Precio C</th>
        <th>Codigo</th>
        <th>Categoria</th>
        <th>Casa Comercial</th>
      </tr>
    </thead>

    <tbody>
      <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.nombre_generico %></td>
        <td><%= producto.precio_a %></td>
        <td><%= producto.precio_b %></td>
        <td><%= producto.precio_c %></td>
        <td><%= producto.codigo %></td>
        <td><%= producto.categoria %></td>
        <td><%= producto.casa_comercial %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="content_modal">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->