<div class="col-md-10 col-md-offset-1">
  <legend>Inventario</legend>
<table class="table table-print">
<thead>
  <tr>
    <th>Casa comercial</th>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Precio Compra</th>
    <th>Inversion</th>
  </tr>
</thead>
<tbody>
  <% @inventario.each do |i|  %>
  <tr>
    <td><%= i.casa_comercial %></td>
    <td><%= i.nombre %></td>
    <td><%= i.stock %></td>
    <td>$ <%= i.precio_compra %></td>
    <td>$ <%= i.stock * i.precio_compra %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
