
 <td class=" col-md-6">
  <%= item.text_field :descripcion, class: "form-control-border autocomplete_producto", :placeholder =>" Ingrese Producto", :required => true  %>
</td>

<td>
  <%=  item.hidden_field :ingreso_producto_id, class: "ingreso_producto_id" %>
  <%=  item.number_field  :cantidad, class: "form-control-border cantidad", :placeholder => "0", min: "1" %>
</td>

<td class ="valor_unitario">
  <%= item.text_field :valor_unitario, :readonly => true, class: "form-control-border" %>
</td>

<td class ="iva">
  <%= item.text_field :iva, :readonly => true, class: "form-control-border" %>
</td>

<td class ="total_item">
  <%= item.text_field :total, :readonly => true, class: "form-control-border" %>
</td>

<td>
  <%= item.link_to_remove '', :class => "delete_destroy eliminar_item" %>
</td>
