<div class="modal-header">
  <h3 class="modal-title" id="myModalLabel"><%= @paciente.cliente.nombre %></h3>
</div>
<%= form_for [@paciente, @registro], :remote => true do |f| %>
<div class="modal-body">
	<div class="field">
	<%= f.label :especialidad %>
	<%= f.select :especialidad, options_for_select(["Medicina Interna","Cardiología","Ginecología","Gastroenterología","Dermatología","Rayos X","Traumatología","Odontología","Laboratorio Clínico","Fisiatría","Pediatría"]), {}, { class: "select-servicio form-control"}%>
	<%= f.label :medico_asignado %>
	<%= f.text_field :medico_asignado %>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
</div>
<% end %>