<section class="main searchable-container">
  <% @registros.each do |r|  %>
  <div class="hospitalizado items" id='<%=r.id%>'>
    <h4>
      <span class="tipo"><%=(r.paciente.tipo).upcase%></span>
      <span><%= link_to "", edit_paciente_hospitalizacion_registro_path(r.paciente, r), {:remote => true, :rel=> 'tooltip', :title=>'Editar','data-toggle' =>  "modal", 'data-target' => '#myModal', class: "pull-right fa fa-arrow-circle-o-right"}%>
      </span>
    </h4>
    <h4 class="text-center name">
      <strong> <%=r.paciente.cliente.nombre%></strong>
    </h4>
    <h1><%=r.paciente.n_hclinica%></h1>
    <h6 class="text-center">HISTORIA CLINICA</h6>
    <h6 class="text-center"><%=r.medico_asignado%></h6>
    <h6 class="tiempo text-muted">
      <span><%=local_date(r.fecha_de_ingreso, "date")%></span>
      <span class="pull-right clickable"><%= time_ago_in_words(r.fecha_de_ingreso)%></span>
    </h6>
  </div>
  <% end %>
</section>

