<div class="modal-header">
	<h3 class="modal-title" id="myModalLabel">Salida Paciente</h3>
</div>
<%= form_for [@historia, @registro] do |f| %>
<%= form_errors_for @registro %>
<div class="field">
	<%= f.label :fecha_de_salida%>
	<%= f.text_field :fecha_de_salida, class: "datepicker", placeholder: "2014-09-24" %>
	<%= f.label :discapacidad%>
	<%= f.select(:discapacidad, ['Ninguna','Discapacidad fisica','Discapacidad intelectual','Discapacidad mental','Discapacidad auditiva','Discapacidad visual','Otra'], {}, { :class => 'form-control' }) %>
	<%= f.label :condicion_egreso%>
	<%= f.select(:condicion_egreso, ['Vivo','Fallecido menos de 48 horas','Fallecido mas de 48 horas'], {}, { :class => 'form-control' }) %>
	<%= f.label :especialidad_egreso%>
	<%= f.select(:especialidad_egreso, ['Cardilogía','Cardilogía Toráxica','Dermatlogía', 'Endocrinología', 'Gastroenterología', 'Infectología', 'Nefrología', 'Neumología', 'Neurología clínica', 'Oftalmología', 'Otorrinolaringología', 'Psiquiatría', 'Oncología', 'Hematología', 'Reumatología', 'Complicaciones y discapacidades', 'Unidad de cuidados intensivos', 'Cirugía pediátrica', 'Neurocirugía', 'Cirugía plástica', 'Cirugía vascular', 'Cirugía maxilo facial', 'Proctología', 'Traumatología', 'Urología', 'Unidad de quemados', 'Ginecología - obstetricia', 'Neonatología ó Pediatría', 'Otra'], {}, { :class => 'select-egreso form-control' }) %>
	<%= f.label :diagnostico_ingreso%>
	<%= f.text_field :diagnostico_ingreso, class: "form-control enfermedad",placeholder: "Ejm: CERVICODORSALGIA"  %>
	<%= f.label :diagnostico_salida, "Diagnostico Egreso" %>
	<%= f.text_field :diagnostico_salida, class: "form-control enfermedad", placeholder: "Ejm: OSTEOPOROSIS SIN FRACTURA PATOLOGICA"%>
	<%= f.hidden_field :codigo_cie, class: "codigo_cie"  %>
	<%= f.label :diagnostico_sec_egreso1, "1. Secundario de Egreso" %>
	<%= f.text_field :diagnostico_sec_egreso1, class: "form-control enfermedad",placeholder: "Ejm: DORSALGIA"  %>
	<%= f.label :diagnostico_sec_egreso2, "2. Secundario de Egreso"%>
	<%= f.text_field :diagnostico_sec_egreso2, class: "form-control enfermedad",placeholder: "Ejm: HIPETENSION ARTERIAL"  %>
</div>
<%= f.submit 'Guardar', class: "btn btn-primary"%>
<% end %>
