<legend>Configuraciones</legend>

<%= form_for @emisor do |f| %>
  <div class="field">
    <%= f.label :nombre_establecimiento, "Nombre del establecimiento" %>
    <%= f.text_field :nombre_establecimiento, required:true %>
    <%= f.label :ruc, "RUC" %>
    <%= f.text_field :ruc, required:true%>
    <%= f.label :numero_inicial_factura, "Primer número de factura" %>
    <%= f.text_field :numero_inicial_factura %>
  </div>
  <%= f.submit 'Guardar', class: "btn btn-primary"%>
<% end %>
