<div class="row title-history grey-opcion">
	<h3 class="fix-margin">Administracion del Sistema</h3>
</div>
<div class="row info-paciente">
	<ul class="internados grid">
		<li class="pacientes-hospitalizados text-center dark-opcion" >
			<span class="fa fa-cogs fa-3x"></span>
			<h4><%= link_to("Configuraciones", new_emisor_path) %></h4>
		</li>
		<li class="pacientes-hospitalizados text-center blue-opcion" >
			<span class="fa fa-users fa-3x"></span>
			<h4><li><%= link_to("Usuarios", users_path) %></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center blue-opcion" >
			<span class="fa fa-user fa-3x"> +</span>
			<h4><li><%=link_to("Nuevo Usuario", new_user_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center blue-opcion" >
			<span class="fa fa-user fa-3x"></span>
			<h4><li><%=link_to("Clientes", clientes_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center green-opcion" >
			<span class="fa fa-money fa-3x"></span>
			<h4><li><%=link_to("Caja y Reportes",root_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados green-opcion text-center thumbnails" >
			<div class="captions">
				<h4>REALIZAR</h4>
				<ul class="list-inline">
					<li><%=link_to("Venta", new_factura_path)%></li>
					<li><%=link_to("Compra", new_factura_compra_path)%></li>
					<li><%=link_to("Proforma", new_proforma_path)%></li>
					<li><%=link_to("Transferencia", new_traspaso_path)%></li>
					<li><%=link_to("Hospitalizacion", hospitalizacions_path)%></li>
					<li><%=link_to("Lista Proformas", proformas_path)%></li>
					<li><%=link_to("Lista Facturas", facturas_path)%></li>
				</ul>
			</div>
			<span class="fa fa-file-text-o fa-3x"></span>
			<h4>Comprobantes</h4>
		</li>
		<li class="pacientes-hospitalizados text-center red-opcion">
			<span class="fa fa-ambulance fa-3x"></span>
			<h4><li><%=link_to("Proveedores", proveedors_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center red-opcion" >
			<span class="fa fa-shopping-cart fa-3x"></span>
			<h4><li><%=link_to("Productos", productos_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center red-opcion">
			<span class="fa fa-thumbs-down fa-3x"></span>
			<h4><li><%=link_to("Caducados", productos_alerta_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center blue-opcion">
			<span class="fa fa-male fa-3x"></span>
			<span class="fa fa-female fa-3x"></span>
			<h4><li><%=link_to("Pacientes", pacientes_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center blue-opcion">
			<span class="fa fa-h-square fa-3x"></span>
			<ul class="list-inline">
				<li><h4><%=link_to("Militar", pacientes_militar_path)%></h4></li>
				<li><h4><%=link_to("Familiar", pacientes_familiar_path)%></h4></li>
				<li><h4><%=link_to("Civil", pacientes_civil_path)%></h4></li>
			</ul>
		</li>
		<li class="pacientes-hospitalizados text-center blue-opcion">
			<span class="fa fa-user-md fa-3x"></span>
			<h4><li><%=link_to("Doctores", doctors_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center green-opcion">
			<span class="fa fa-ticket fa-3x"></span>
			<h4><li><%=link_to("Turnos", turnos_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center green-opcion">
			<span class="fa fa-book fa-3x"></span>
			<h4><li><%=link_to("Libro Diario", hospitalizacion_registros_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center green-opcion">
			<span class="fa fa-hospital-o fa-3x"></span>
			<h4><li><%=link_to("Movimiento Hospital", dashboard_hospital_index_path)%></li></h4>
		</li>
		<li class="pacientes-hospitalizados text-center yellow-opcion">
			<span class="fa fa-stethoscope  fa-3x"></span>
			<h4><li><%=link_to("Enfermeria", dashboard_enfermeria_index_path)%></li></h4>
		</li>
	</ul>
</div>
