<div class="row info-paciente">
  <div class="col-md-10 shadow col-md-offset-1">
    <h3 class="text-center"><%= image_tag "/images/logo1.png", width: 45, height: 45 %> HOSPITAL BÁSICO 7 B.I LOJA</h3><br>
    <h4 class="text-center text-bold">CERTIFICADO  DEL DEPARTAMENTO DE REHABILITACIÓN  FÍSICA</h4>
    <h5 class="text-center text-bold"><%= best_in_place @config, :encargado_departamento %> <i class="fa fa-pencil text-info"></i></h5>
    <h5 class="text-center text-bold">ENCARGADO  DEL DEPARTAMENTO DE REHABILITACIÓN FÍSICA DEL HB-7 "LOJA"</h5>
    <h5 class="text-left">El suscrito fisioterapista,</h5>
<div class="row">
  <div class="col-md-12"><strong>CERTIFICA que el/la paciente:  </strong><span class="text-uppercase">Alvarado Medina Alberto Andres</span></div>
  <div class="col-md-12"><strong>con N de planilla:</strong> 2357 <strong>H.C:</strong> 3245</div>
  <div class="col-md-12"><strong>COD:</strong> 1104890000</div>
</div>
<hr>
<h5>Se encuentra realizando el siguiente tratamiento:</h5>
<strong>Laser Terapira</strong><br>
<strong>Hidro Terapira</strong><br>
<strong>Compresas</strong><br>
<h5>Nº de Sesiones: 3</h5>
<p>
  <%= best_in_place @config, :respuesta_tratamiento, {:classes => "area-max", :type => :textarea, :nil => "Por favor ingresa texto acerca de respuesta del tratamiento"} %>
  <i class="fa fa-pencil text-info"></i>
</p>
<div class="fecha-de-impresion text-right">
  <strong>Fecha: <%= local_date(Time.now, "date")%></strong>
</div>
<br>
<br>
<br>
<div class="text-center">
  <span>--------------------------------------------------</span>
  <h6><strong><%= @config.encargado_departamento %></strong></h6>
  <h6><strong><%= @config.grado_director %></strong></h6>
  <h6><strong>FISIOTERAPISTA DEL  HB-7 "LOJA"</strong></h6>
</div>
  <hr>
<div class="col-md-12">
  <h5 class="text-center text-bold">REGISTRO DE ASISTENCIA DE PACIENTES EN EL AREA DE FISIOTERAPIA DEL HOSPITAL BÁSICO DE 7 - B.I "LOJA"</h5>
  <h5><strong>APELLIDOS Y NOMBRES:  </strong><span class="text-uppercase">Alvarado Medina Alberto Andres</span></h5>
  <h5><strong>H.C: </strong>2357   <strong>PLANILLA: </strong>3245</h5>
  <h5><strong>DIAGNÓSTICO: </strong>Paralisis Facial</h5>
  <strong>DIAS DE ASISTENCIA</strong>

</div>
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Resultado</th>
      <th>Firma</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= local_date(Time.now, "date") %></td>
      <td>Dia 1 paciente responde favorablemente</td>
      <td></td>
    </tr>
    <tr>
      <td><%= local_date(Time.now, "date") %></td>
      <td>Dia 2 paciente responde favorablemente</td>
      <td></td>
    </tr>
    <tr>
      <td><%= local_date(Time.now, "date") %></td>
      <td>Dia 3 paciente responde favorablemente</td>
      <td></td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
<div class="text-center">
  <span>--------------------------------------------------</span>
  <h6><strong><%= @config.encargado_departamento %></strong></h6>
  <h6><strong><%= @config.grado_director %></strong></h6>
  <h6><strong>FISIOTERAPISTA DEL  HB-7 "LOJA"</strong></h6>
</div>
  </div>
</div>

