<div class="row horarios">
	<div class="col-md-6 input-cuarto">
		<%= form_for @horario, :html => {:class => "form-horario"}, :remote => true  do |f| %>
		<div class="row">
			<div class="col-md-4">
				<%= f.text_field :hora_inicio, placeholder: "Hora Inicio: 7:00", class: "form-control" %>
			</div>
			<div class="col-md-4">
				<%= f.text_field :hora_final, placeholder: "Hora Final: 7:30", class: "form-control" %>
			</div>
			<div class="col-md-4">
				<%= f.submit '+', class: "btn btn-info", :remote => true %>
			</div>
		</div>
		<% end %>
		<h4 class= "text-center">Lista de horarios</h4>
		<div id="horarios">
			<% @horarios.each do |horario|%>
			<%= render "horarios/horario", horario:horario %>
			<% end %>
		</div>
	</div>
</div>

