<div class="row terapias">
	<div class="col-md-6">
		<legend>Registro de Tratamientos</legend>
		<%= nested_form_for @tratamiento, :html => {:class => "form-tratamiento"}, :remote => true do |f| %>
			<%=f.label :nombre, "Ingrese Terapia"%>
			<%=f.text_field :nombre, class: "form-control", placeholder: "Ejm: ELECTROTERAPIA"%><br>
		<legend>Tratamientos</legend>
		<div class="table-responsive">
			<table class="table" id="factura">
				<thead>
					<tr>
						<th># Codigo</th>
						<th>Nombre de Tratamiento</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<%=f.fields_for :item_tratamientos, :wrapper => false do |it|%>
					<tr class="fields">
						<td class="col-md-2"><%=it.text_field :codigo, class: "form-control", placeholder: "Ejm: 291327"%></td>
						<td style="display:none"><%=it.hidden_field :tratamiento_id %></td>
						<td class="col-md-8"><%=it.text_field :nombre, class: "form-control", placeholder: "Ejm: LASER TERAPIA"%></td>
						<td><%= it.link_to_remove "", class: "delete_destroy"%></td>
					</tr>
					<% end %>
					<tr>
						<td><%= f.link_to_add "Tratamiento", :item_tratamientos, :class => "nuevo_new_default"%>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br><%=f.submit  "GUARDAR",class: "btn btn-success", :remote => true%>
		<% end %>
	</div>
	<div class="col-md-6">
		<div id="tratamientos">
			<legend>Lista de Terapias</legend>
			<% @tratamientos.each do |tratamiento|%>
			<%= render "tratamientos/tratamiento", tratamiento:tratamiento %>
			<% end %>
		</div>
	</div>
</div>
