<div class="row title-green-head">
	<h2 class= "text-center"> Configuraciones Fisiatria</h2>
</div>
<div class="row info-paciente">
	<div class="col-md-3 input-cuarto">
		<%= form_for @horario, :html => {:class => "form-horario"}, :remote => true  do |f| %>
		<%= f.label :hora, "Ingrese Hora"%>
		<div class="input-group">
			<%= f.text_field :hora, class: "form-control", placeholder: "Ejm: 7:00 - 7:30"  %>
			<span class="input-group-btn">
				<%= f.submit '+', class: "btn btn-info", :remote => true %>
			</span>
		</div>
		<% end %>
		<h4 class= "text-center">Lista de horarios</h4>
		<div id="horarios">
			<% @horarios.each do |horario|%>
			<%= render "horarios/horario", horario:horario %>
			<% end %>
		</div>
	</div>
</div>
<div class="row tratamientos info-paciente">
	<legend>Lista de Tratamientos</legend>
	<% @tratamientos.each do |t|%>
	<strong><h4><%= t.numeracion%>. <%= t.nombre%></h4></strong>
	<% t.item_tratamientos.each do |i|%>
	<h5><strong><%= i.codigo%></strong>. <%= i.nombre%> <i class="fa fa-pencil pull-rigth"></i> <i class="fa fa-times pull-rigth"></i></h5>
	<% end %>
	<% end %>
</div>
