<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Factura<span class="text-right"> Nº<%= @factura.numero%></span></h3>
</div>
<div class="modal-body">
  <p>
    <strong>Proveedor:</strong>
    <%= @factura.proveedor.nombre_o_razon_social%>
  </p>
  <p>
    <strong>Fecha de Emisión:</strong>
    <%= local_date(@factura.fecha_de_emision, "date")%>
  </p>
  <table class="table table-hover">
    <thead class= "well">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Iva</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @factura.factura_compras_productos.each do |i| %>
      <tr>
        <td><%= i.producto.nombre %></td>
        <td><%= i.cantidad %></td>
        <td><%= i.valor_unitario %></td>
        <td><%= i.iva %></td>
        <td><%= i.total %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h4 class="text-success text-right">
    <strong>Total: $</strong>
    <%= @factura.total %>
  </h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
