<div class="row">
	<div class="title-green-head">
		<span class="rev-combo pull-right"><i><%= link_to '',turnos_consulta_resultados_path(params.merge(format: 'pdf')), class: "ttip fa fa-print", :target => "_blank", title:'Imprimir' %></i></span>
	</span>
	<h3>RESULTADOS DE TU BUSQUEDA</h3>
</div>
<div class="row doctor-pacientes">
	<% @turnos.each do |doctor|  %>
	<div class="col-md-6">
		<table class="table table-hover">
			<thead>
				<tr class="title-green-head">
					<th colspan="5 ">DR: <%= (doctor[:nombre]).upcase%></th>
				</tr>
				<tr>
					<th>Fecha</th>
					<th>#</th>
					<th>Paciente</th>
					<th>Hora</th>
					<th class="text-center"><i class="fa fa-question"></i></th>
				</tr>
			</thead>
			<tbody>
				<% doctor[:turnos].each do |turno| %>
				<tr>
					<td><%= local_date(turno.fecha, "date") %></td>
					<td><%= turno.numero %></td>
					<td><%= turno.paciente.cliente.nombre %></td>
					<td><%= local_date(turno.hora,"time") %></td>
					<td class="text-center">
						<% if turno.atendido %>
						<i class="fa fa-check-circle text-success"></i>
						<% else %>
						<% unless turno.fecha < Time.now %>
						<%= link_to "", turno, method: :delete, data: { confirm: 'Esta seguro?' }, class: "ttip fa fa-times-circle text-danger",:rel=> 'tooltip', :title=>'Eliminar' %>
						<% end %>
						<i class="fa fa-circle text-danger"></i>
						<% end %>
					</td>
				</tr>			
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>
