<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title" id="myModalLabel">Nuevo Turno</h3>
</div>
<%= form_for @turno, :remote => true do |f| %>
<div class="modal-body">
	<div class="field">
		<label>Paciente H.C: <strong class="n_hclinica"></strong></label>
		<input type="text" class="identificacion", placeholder="Ingrese nombre paciente">
		<%= f.hidden_field :paciente_id, class: "paciente_id" %>
		<%= f.label :doctor_a_cargo, "Doctor Asignado"%>
		<%= f.text_field :doctor_a_cargo, class: "doctor_autocomplete", placeholder: "Ingrese nombre Doctor"%>
		<%= f.hidden_field :doctor_id, class: "doctor_id"%>
		<%= f.label :fecha, "Fecha del turno"%>
		<% if Time.now.wday == 5  %>
		<%= f.text_field :fecha, class: "datepicker form-control", placeholder: "Ingrese fecha", value: local_date(3.days.from_now, "date"), readonly: true %>
		<% else %>
		<%= f.text_field :fecha, class: "datepicker form-control", placeholder: "Ingrese fecha", value: local_date(Time.now.tomorrow, "date"), readonly: true %>
		<% end %>
	</div>
	<samll class="text-info">* Haz click sobre el campo fecha si deseas cambiar a una nueva fecha</samll>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
</div>
<% end %>
