<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title" id="myModalLabel">Nuevo registro</h3>
</div>
<%= form_for @turno, :remote => true do |f| %>
<div class="modal-body">
	<div class="field">
		<h4>Turno a: <strong class="nombre_paciente"></strong> </h4>
		<label>Paciente H.C: <strong class="n_hclinica"></strong></label>
		<input type="text" class="identificacion", placeholder="Ejm: 1105000903">
		<%= f.hidden_field :paciente_id, class: "paciente_id" %>
		<%= f.label :fecha%>
		<%= f.text_field :fecha, class: "datepicker", placeholder: "Ejm: 2015-02-23" %>
		<%= f.label :hora%>
		<%= f.text_field :hora, placeholder: "Ejm: 14:00" %>
		<%= f.label :doctor%>
		<%= f.text_field :doctor%>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
</div>
<% end %>
