<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title" id="myModalLabel">Nuevo Turno</h3>
</div>
<%= form_for @turno, :remote => true do |f| %>
<div class="modal-body">
	<div class="field">
		<label>Paciente H.C: <strong class="n_hclinica"></strong></label>
		<input type="text" class="identificacion", placeholder="Ingrese nombre paciente">
		<%= f.hidden_field :paciente_id, class: "paciente_id" %>
		<%= f.label :doctor_a_cargo, "Doctor Asignado"%>
		<%= f.text_field :doctor_a_cargo, class: "doctor_autocomplete", placeholder: "Ingrese nombre Doctor"%>
		<%= f.hidden_field :doctor_id, class: "doctor_id"%>
	</div>
	<%= label_tag :hoy, "Hoy?"  %>
	<%= check_box_tag :hoy %>
	<small class="text-danger"> * Haz click en caso de un turno extra</small>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
</div>
<% end %>
