<%= form_for @turno do |f| %>
<div class="field">
	<h3>Turno a: <strong class="nombre_paciente"></strong> </h3>
	<label>Paciente H.C: <strong class="n_hclinica"></strong></label>
	<input type="text" class="numero_de_identificacion", placeholder="Ejm: 1105000903">
	<%= f.hidden_field :paciente_id, class: "paciente_id" %>
	<%= f.label :fecha%>
	<%= f.text_field :fecha, class: "datepicker", placeholder: "Ejm: 2015-02-23" %>
	<%= f.label :hora%>
	<%= f.text_field :hora %>
	<%= f.label :doctor%>
	<%= f.text_field :doctor%>
	<%= f.submit :Guardar, class: "btn btn-block btn-info"%>			
</div>
<% end %>
