<div class="row title-green-head">
	<h1 class="fix-margin">Consulta Ext. Morbilidad</h1>
</div>
<div class="row info-paciente">
<%= render "turnos/paciente_info"  %>
<%= form_for [@turno, @consulta] do |f| %>
<%= form_errors_for @consulta %>
<div class="col-md-6">
	<%= render "condicion/condicion_paciente", f:f %>
</div>
<div class="col-md-6">
	<h3>Ficha de Registro Medico</h3>
	<%= f.label :tipo_de_atencion%>
	<%= f.select(:tipo_de_atencion, ['Primera','Subsecuente','Interconsulta Realizada'], {}, { :class => 'form-control' }) %>
	<label>Diagnostico Sindrome C.I.E: <strong class="codigo_cie"></strong></label>
	<%= f.text_field :diagnostico_sindrome, class: "form-control enfermedad",placeholder: "Ejm: CERVICODORSALGIA"  %>
	<%= f.hidden_field :codigo_cie, class: "codigo_cie"%>
	<%= f.label :condicion_diagnostico%>
	<%= f.select(:condicion_diagnostico, ['Presuntivo/Sospechoso','Definitivo/Inicial/Confirmado','Definitivo/Control'], {}, { :class => 'form-control' }) %>	
	<%= f.label :ordenes%>
	<%= f.select(:ordenes, ['Interconsulta Solicitada','Referencia'], {}, { :class => 'form-control' }) %><br>
	<%= f.label :certificado_medico, "Certificado medico?"%>
	<div class="input-group">
		<div id="radioBtn" class="btn-group">
			<a class="btn btn-info btn-sm notActive" data-toggle="certificado_medico" data-title= 1 >SI</a>
			<a class="btn btn-info btn-sm active" data-toggle="certificado_medico" data-title= 0>NO</a>
		</div>
		<%= f.hidden_field :certificado_medico, id: "certificado_medico"  %>
	</div>
	<br>
</div>
<br>
<%= f.submit 'Guardar', class: "btn btn-primary col-md-offset-5"%>
<% end %>
</div>
