<h3 class="text-center"><strong>Paciente: </strong><%= @turno.paciente.cliente.nombre  %></h3>
<h5 class="fix-margin"><strong>Discapacida?:</strong> <%= best_in_place @turno.paciente, :discapacidad, type: :select, collection: [["SI", "SI"], ["NO", "NO"]] %> 
	..<span class="fa fa-pencil text-info"></span>
</h5>
<%= form_for [@turno, @consulta] do |f| %>
<%= form_errors_for @consulta %>
<div class="col-md-6">
	<%= render "condicion/condicion_paciente", f:f %>
</div>
<div class="col-md-6">
	<h3>Ficha de Registro Medico</h3>
	<%= f.label :tipo_de_atencion%>
	<%= f.select(:tipo_de_atencion, ['Primera','Subsecuente','Interconsulta Realizada'], {}, { :class => 'form-control' }) %>
	<%= f.label :diagnostico_sindrome%>
	<%= f.text_field :diagnostico_sindrome, class: 'form-control'%>
	<%= f.label :codigo_cie%>
	<%= f.text_field :codigo_cie, class: 'form-control' %>
	<%= f.label :condicion_diagnostico%>
	<%= f.select(:condicion_diagnostico, ['Presuntivo/Sospechoso','Definitivo/Inicial/Confirmado','Definitivo/Control'], {}, { :class => 'form-control' }) %>	
	<%= f.label :ordenes%>
	<%= f.select(:ordenes, ['Interconsulta Solicitada','Referencia'], {}, { :class => 'form-control' }) %><br>
	<%= f.label :certificado_medico, "Certificado medico?"%>
	<div class="input-group">
		<div id="radioBtn" class="btn-group">
			<a class="btn btn-info btn-sm notActive" data-toggle="certificado_medico" data-title= 1 >SI</a>
			<a class="btn btn-info btn-sm active" data-toggle="certificado_medico" data-title= 0>NO</a>
		</div>
		<%= f.hidden_field :certificado_medico, id: "certificado_medico"  %>
	</div>
	<br>
</div>
<br>
<%= f.submit 'Guardar', class: "btn btn-primary col-md-offset-5"%>
<% end %>
