<div class="row form-group">
  <% @registros.each do |r|  %>    
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body internado">
        <small><strong>H.C #<%=r.paciente.n_hclinica%></strong> </small>
        <h4><strong><%=r.paciente.cliente.nombre%></strong></h4>
        <p>
          Fecha de Ingreso: <%=local_date(r.fecha_de_ingreso, "date")%><br>
          Tipo paciente: <%=r.paciente.tipo%>
        </p>
      </div>
      <div class="panel-footer text-center">
        <small>Registrar salida</small>
        <%= link_to "", edit_paciente_registro_path(r.paciente, r), class: "fa fa-arrow-circle-right"%>  
      </div>
    </div>
  </div>
  <% end %> 
</div>
