<div class="row">
  <ul class="hospitalizados">
    <% @registros.each do |r|  %>
    <li class= "col-md-3">
      <div class="hospitalizado">
        <h4>
          <span class="tipo"><%=(r.paciente.tipo).upcase%></span>
          <span><%= link_to "", edit_paciente_registro_path(r.paciente, r), class: "pull-right fa fa-arrow-circle-o-right"%>
          </span>
        </h4>
        <h4 class="text-center name">
          <strong> <%=r.paciente.cliente.nombre%></strong>
        </h4>
        <h1><%=r.paciente.n_hclinica%></h1>
        <h6 class="text-center">HISTORIA CLINICA</h6>
        <h6 class="text-center"><%=r.medico_asignado%></h6>
        <h6 class="tiempo text-muted">
          <span><%=local_date(r.fecha_de_ingreso, "date")%></span>
          <span class="pull-right clickable"><%= time_ago_in_words(r.fecha_de_ingreso)%></span>
        </h6>
      </div>
    </li>
    <% end %> 
  </ul>
</div>
