<!DOCTYPE html>
<html>
<head>
	<title>Sisfa</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <main role="main">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </main>
</body>
</html>
