<!DOCTYPE html>
<html>
<head>
	<title>Sisfa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- <div><script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script></div> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <header>
    <%= render 'layouts/navbar' %>
  </header>
  <%end%>
  <div role="main">
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%= render 'layouts/modal' %>
    </div>
  </div>
  <footer>
    <p class="text-center muted ">&copy; Copyright 2014
      <br><small>Sistema Integrado Web Hospital Basico 7B.I Loja</small></p>
  </footer>
</body>
</html>
