<!DOCTYPE html>
<html>
<head>
	<title>Sisfa</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag    "/assets/font-awsome/css/font-awesome.min.css"%>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <main role="main">
    <div class="container">
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/modal' %>
    </div>
  </main>
</body>
</html>
